<tr class="table-body-row_" data-record="{{huid}}" data-ui-core="size__large" data-js-handler="detailsTable__filter-record swap-panels__records&record">
    <td class="table-body-row-cell_ is__firstName{{#if has__error}}{{#if is__exclusion}} is__exclusion{{/if}}{{#if is__pending}} is__pending{{/if}} has__error{{/if}}" data-ui-core="size__large">{{firstName}}</td>
    <td class="table-body-row-cell_ is__lastName{{#if has__error}}{{#if is__exclusion}} is__exclusion{{/if}}{{#if is__pending}} is__pending{{/if}} has__error{{/if}}" data-ui-core="size__large">{{lastName}}</td>
</tr>