* {
	box-sizing : border-box;
}
html,body {
	position       : relative;
	width          : 100%;
	height         : 100%;  
	margin         : 0px;
	font-family    : $font__family;
	letter-spacing : 0.4px;
	background     : #eee;
	box-sizing     : border-box; 
	overflow-y     : hidden;

	color          : #151515;
	background     : #232323; 

	@include gridle_state(mobile) {
		font-size      : 16px;
	}
	@include gridle_state(tablet) {
		font-size      : 16px;
	}
	@include gridle_state(desktop) {
		font-size      : 17px;
	}
	@include gridle_state(retina) {
		font-size      : 18px;	
	}
}
h1,h2,h3,h4,h5,p {
    &[data-ui-settings~="mode__inlineblock"] {
        display : inline-block;
    }
}
h1,h2,h3 {
	display        : inline-block;
	margin         : 0px;
	font-weight    : 300;
	vertical-align : middle; 
}
h1 {
	font-size   : 1.9rem;
}
h2 {
	font-size   : 1.6rem;
}
h3 {
	font-size   : 1.3rem;
}

[class^="fader"] {
	position   : absolute;
	z-index    : 11;
	top        : 0px;
	left       : 0px;
	width      : 100%;
	height     : 100%;
	visibility : hidden; 
	background : rgba(0,0,0,0.5);
	opacity    : 0;
	@include prefix(will-change, "visibility, opacity");
}
$error__color : rgba(245, 101, 91, 0.96);








* {
	&[data-ui-settings~="depth__flush"] {
		@include prefix(box-shadow, none);
	}
	&[data-ui-settings~="depth__low"] {
		@include prefix(box-shadow, "0 0 18px 0 rgba(0, 0, 0, 0.03), 0 0 4px 0 rgba(0, 0, 0, 0.03)");
	}
	&[data-ui-settings~="depth__medium"] {
		@include prefix(box-shadow, "0 0 40px 0 rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.03)");
	}
	&[data-ui-settings~="depth__high"] {
		@include prefix(box-shadow, none);
	}


	// SUBCLASSES  -- START
	&[class*="_offset"] {
		&[data-ui-settings~="material__paper"] {
			background : $color__offset;
		}
		&[data-ui-settings~="material__film"] {
			background : rgba($color__offset, 0.96);
		}
		&[data-ui-settings~="material__transparency"] {
			background : rgba($color__offset, 0);
		}
	}
	&[class*="_light"] {
		&[data-ui-settings~="material__paper"] {
			background : $color__light;
		}
		&[data-ui-settings~="material__film"] {
			background : rgba($color__light, 0.96);
		}
		&[data-ui-settings~="material__transparency"] {
			background : rgba($color__light, 0);
		}
	}
	&[class*="_dark"] {
		&[data-ui-settings~="material__paper"] {
			background : $color__dark;
		}
		&[data-ui-settings~="material__film"] {
			background : rgba($color__dark, 0.96);
		}
		&[data-ui-settings~="material__transparency"] {
			background : rgba($color__dark, 0);
		}
	}
	&[class*="_primary"] {
		&[data-ui-settings~="material__paper"] {
			background : $color__primary;
		}
		&[data-ui-settings~="material__film"] {
			background : rgba($color__primary, 0.96);
		}
		&[data-ui-settings~="material__transparency"] {
			background : rgba($color__primary, 0);
		}
	}



	&[class*="_error"] {
		&[data-ui-settings~="material__paper"] {
			background : $color__error;
		}
		&[data-ui-settings~="material__film"] {
			background : rgba($color__error, 0.96);
		}
		&[data-ui-settings~="material__transparency"] {
			background : rgba($color__error, 0);
		}
	}
	&[class*="_warning"] {
		&[data-ui-settings~="material__paper"] {
			background : $color__warning;
		}
		&[data-ui-settings~="material__film"] {
			background : rgba($color__warning, 0.96);
		}
		&[data-ui-settings~="material__transparency"] {
			background : rgba($color__warning, 0);
		}
	}
	// SUBCLASSES  -- END	
}