@import "gridle/gridle/gridle";

@include gridle_setup( 
	(
		context      : 12,
		gutter-width : 0px,
		direction    : ltr,
		classes      : false,
		hide         : true,
		show         : true,
		show_inline  : true
	) 
);




// extra large phone resolutions
@include gridle_register_state ( 
	phablet , (
    	min-width : 480px
	) 
);
@include gridle_register_state ( 
	below__phablet, (
    	max-width : 480px
	) 
);


// tablet resolutions
@include gridle_register_state ( 
	tablet , (
    	min-width : 768px
	) 
);
@include gridle_register_state ( 
	below__tablet , (
    	max-width : 768px
	) 
);


// laptop resolutions
@include gridle_register_state ( 
	laptop , (
    	min-width : 950px
	) 
);
@include gridle_register_state ( 
	below__laptop , (
    	max-width : 950px
	) 
);


// desktop resolutions
@include gridle_register_state ( 
	desktop , (
    	min-width : 1300px
	) 
);
@include gridle_register_state ( 
	below__desktop , (
    	max-width : 1300px
	) 
);


// large desktop resolutions
@include gridle_register_state ( 
	retina , (
    	min-width : 1600px
	) 
);
@include gridle_register_state ( 
	below__retina , (
    	max-width : 1600px
	) 
);



$context    : 12;
$grid__1  : gridle_get_column_width( 1 );
$grid__2  : gridle_get_column_width( 2 );
$grid__3  : gridle_get_column_width( 3 );
$grid__4  : gridle_get_column_width( 4 );
$grid__5  : gridle_get_column_width( 5 );
$grid__6  : gridle_get_column_width( 6 );
$grid__7  : gridle_get_column_width( 7 );
$grid__8  : gridle_get_column_width( 8 );
$grid__9  : gridle_get_column_width( 9 );
$grid__10 : gridle_get_column_width( 10 );
$grid__11 : gridle_get_column_width( 11 );
$grid__12 : gridle_get_column_width( 12 );