.key {
	display         : flex;
	justify-content : center;
	align-items     : center;
    margin          : 0px 8px;
	border          : 2px solid $color__primary;
	color           : $color__primary;
	@include prefix( border-radius, 5px );

	@include gridle_state(mobile) {
		font-size : 0.7rem;

	}
	@include gridle_state(tablet) {
		font-size : 0.8rem;
	}

	&[data-ui-settings~="size__small"] {
		@include gridle_state(mobile) {
			width     : 35px;
			min-width : 35px;
			height    : 35px;
		}
		@include gridle_state(tablet) {
			width     : 40px;
			min-width : 40px;
			height    : 40px;
		}
	}
	&[data-ui-settings~="size__large"] {
		@include gridle_state(mobile) {
			width     : 80px;
			min-width : 80px;
			height    : 35px;
		}
		@include gridle_state(tablet) {
			width     : 80px;
			min-width : 80px;
			height    : 40px;
		}
	}
}
.iframe-login {
    height : 1000px;
    width  : 1000px;
    @include prefix( transform, translateY(-155px) translateX(-500px) );
}
.iframe-PDM {
	position : relative;
	height   : 568px;
	width    : 840px;
	margin   : -56px 0px 0px -13px;
	// margin-left : -13px;
	// margin-top  : -55px;"
}

* {
	&[data-js~="records__positionSticky"] {
		&[data-ui-state~="is__stuck"] {
			z-index : 2;
			@include gridle_state(desktop) {
				@include prefix( transform, translateY(-30px) );
			}
		}
	}
	&[data-js~="details__positionSticky"] {
		&[data-ui-state~="is__stuck"] {
			z-index : 1;
			@include gridle_state(tablet) {
				@include prefix( transform, translateY(-30px) );
			}
		}
	}
}