@import "gridle/gridle/gridle";

@include gridle_setup( 
	(
		context      : 12,
		gutter-width : 0px,
		direction    : ltr,
		classes      : false,
		hide         : true,
		show         : true,
		show_inline  : true
	) 
);




// extra large phone resolutions
@include gridle_register_state ( 
	phablet , (
    	min-width : 480px
	) 
);

// tablet resolutions
@include gridle_register_state ( 
	tablet , (
    	min-width : 768px
	) 
);

// laptop resolutions
@include gridle_register_state ( 
	laptop , (
    	min-width : 950px
	) 
);

// desktop resolutions
@include gridle_register_state ( 
	desktop , (
    	min-width : 1300px
	) 
);

// large desktop resolutions
@include gridle_register_state ( 
	retina , (
    	min-width : 1600px
	) 
);


$context    : 12;
$gridle__1  : gridle_get_column_width( 1 );
$gridle__2  : gridle_get_column_width( 2 );
$gridle__3  : gridle_get_column_width( 3 );
$gridle__4  : gridle_get_column_width( 4 );
$gridle__5  : gridle_get_column_width( 5 );
$gridle__6  : gridle_get_column_width( 6 );
$gridle__7  : gridle_get_column_width( 7 );
$gridle__8  : gridle_get_column_width( 8 );
$gridle__9  : gridle_get_column_width( 9 );
$gridle__10 : gridle_get_column_width( 10 );
$gridle__11 : gridle_get_column_width( 11 );
$gridle__12 : gridle_get_column_width( 12 );