$color__primary : #4cc1bc;
$color__dark    : #36393e;
$color__offset  : #eee;
$color__light   : #fff;


$color__error   : #E85555;
$color__warning : #F2C248;

//$font__family   : "lato";
//$font__family   : 'Source Sans Pro', sans-serif;
//$font__family   : 'Raleway', sans-serif;
$font__family   : 'Open Sans', sans-serif;