
$breakpoints : "mobile","phablet","tablet","laptop","desktop","retina";
$sides       : "top","right","bottom","left";
$sizes       : "xxs","xs","sm","md","lg","xl","xxl";


$color__brand   : #a41034;

$color__primary : #4cc1bc;
$color__dark    : #36393e;
$color__offset  : #eee;
$color__light   : #fff;

// bold
$color_primary_background   : #4cc1bc;// primary
$color_primary_text         : #ffffff;// white

// dark
$color_dark_background      : #36393e;// dark
$color_dark_text            : #ffffff;// white

// default
$color_default_background   : #ffffff;// white
$color_default_text         : #151515;// dark grey

// mute
$color_mute_background      : #ffffff;// white
$color_mute_text            : #c0c0c0;// light grey

// highlight
$color_highlight_background : #ffffff;// white
$color_highlight_text       : #4cc1bc;// primary

// accent
$color_accent_background    : #ebeaea;// light grey
$color_accent_text          : #151515;// dark grey
$color_accent_placeholder   : #A9A9A9;// medium grey




$color__error   : #E24B4C;
$color__warning : #ECBD44;
$color__success : #2BC159;

//$font__family   : "lato";
//$font__family   : 'Source Sans Pro', sans-serif;
//$font__family   : 'Raleway', sans-serif;
$font__family   : 'Open Sans', sans-serif;