	body {
		background : #eee;
		font-size  : 0;
	}
	.records {
		box-sizing : border-box;
		display    : inline-block;
		width      : 30%;
		padding    : 10px 15px;
    vertical-align: top;
		background : #ffffff;
	}
	.details {
		box-sizing : border-box;
		display    : inline-block;
		width      : 70%;
		padding    : 10px 15px;
		background : #ffffff;
	}