
.icon-right:before { content: '\e800'; } /* '' */
.icon-print:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-cancel-circle:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */
.icon-share:before { content: '\e806'; } /* '' */
.icon-share-1:before { content: '\e807'; } /* '' */
.icon-reply:before { content: '\e808'; } /* '' */
.icon-arrow_circle_up:before { content: '\e809'; } /* '' */
.icon-arrow_circle_right:before { content: '\e80a'; } /* '' */
.icon-arrow_circle_down:before { content: '\e80b'; } /* '' */
.icon-arrow_circle_left:before { content: '\e80c'; } /* '' */
.icon-dot-3:before { content: '\e80d'; } /* '' */
.icon-arrow_line_up:before { content: '\e80e'; } /* '' */
.icon-angle-down:before { content: '\e80f'; } /* '' */
.icon-arrow_line_down:before { content: '\e810'; } /* '' */
.icon-arrow_line_compressed_down:before { content: '\e811'; } /* '' */
.icon-arrow_line_compressed_up:before { content: '\e812'; } /* '' */
.icon-sort:before { content: '\e813'; } /* '' */
.icon-sort-down:before { content: '\e814'; } /* '' */
.icon-sort-up:before { content: '\e815'; } /* '' */
.icon-angle-left:before { content: '\e816'; } /* '' */
.icon-angle-right:before { content: '\e817'; } /* '' */
.icon-angle-double-left:before { content: '\e818'; } /* '' */
.icon-angle-double-right:before { content: '\e819'; } /* '' */
.icon-search:before { content: '\e81a'; } /* '' */
.icon-logo_silhouette:before { content: '\e81b'; } /* '' */
.icon-laptop:before { content: '\e81c'; } /* '' */
.icon-mobile:before { content: '\e81d'; } /* '' */
.icon-tablet:before { content: '\e81e'; } /* '' */
.icon-desktop:before { content: '\e81f'; } /* '' */
.icon-logo:before { content: '\e820'; } /* '' */
.icon-menu:before { content: '\e821'; } /* '' */
.icon-phone:before { content: '\e822'; } /* '' */
.icon-left-dir:before { content: '\e823'; } /* '' */
.icon-location:before { content: '\e824'; } /* '' */
.icon-newspaper:before { content: '\e825'; } /* '' */
.icon-calendar:before { content: '\e826'; } /* '' */
.icon-edit:before { content: '\e827'; } /* '' */
.icon-book:before { content: '\e828'; } /* '' */
.icon-right-open:before { content: '\e829'; } /* '' */
.icon-play-circled2:before { content: '\e82a'; } /* '' */
.icon-two:before { content: '\e82b'; } /* '' */
.icon-three:before { content: '\e82c'; } /* '' */
.icon-instagram:before { content: '\e82d'; } /* '' */
.icon-tumbler:before { content: '\e82e'; } /* '' */
.icon-weibo:before { content: '\e82f'; } /* '' */
.icon-linkedin:before { content: '\e830'; } /* '' */
.icon-youtube:before { content: '\e831'; } /* '' */
.icon-twitter:before { content: '\e832'; } /* '' */
.icon-five:before { content: '\e833'; } /* '' */
.icon-user:before { content: '\e834'; } /* '' */
.icon-users:before { content: '\e835'; } /* '' */
.icon-eight:before { content: '\e836'; } /* '' */
.icon-four:before { content: '\e837'; } /* '' */
.icon-seven:before { content: '\e838'; } /* '' */
.icon-six:before { content: '\e839'; } /* '' */
.icon-one:before { content: '\e83a'; } /* '' */
.icon-facebook:before { content: '\e83b'; } /* '' */
.icon-googleplus:before { content: '\e83c'; } /* '' */
.icon-apple:before { content: '\e83d'; } /* '' */
.icon-left-open:before { content: '\e83e'; } /* '' */
.icon-down-open:before { content: '\e83f'; } /* '' */
.icon-up-open:before { content: '\e840'; } /* '' */
.icon-cog-alt:before { content: '\e841'; } /* '' */
.icon-file_exclusion:before { content: '\e842'; } /* '' */
.icon-paper-plane-empty:before { content: '\e843'; } /* '' */
.icon-paper-plane:before { content: '\e844'; } /* '' */
.icon-ok:before { content: '\e845'; } /* '' */
.icon-attention:before { content: '\e846'; } /* '' */
.icon-clock:before { content: '\e847'; } /* '' */
.icon-bell:before { content: '\e848'; } /* '' */
.icon-th:before { content: '\e849'; } /* '' */
.icon-star-empty:before { content: '\e84a'; } /* '' */
.icon-list:before { content: '\e84b'; } /* '' */
.icon-iqm_2:before { content: '\e84c'; } /* '' */
.icon-apps:before { content: '\e84d'; } /* '' */
.icon-settings_app:before { content: '\e84e'; } /* '' */
.icon-settings:before { content: '\e84f'; } /* '' */
.icon-file_settings_icon:before { content: '\e850'; } /* '' */
.icon-user_settings:before { content: '\e851'; } /* '' */
.icon-circle:before { content: '\e852'; } /* '' */
.icon-circle-empty:before { content: '\e853'; } /* '' */
.icon-circle-thin:before { content: '\e854'; } /* '' */