<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>IQM</title>
<!--         <link rel="stylesheet" href="/static/IQ/css/UI.css"> -->
        <link rel="stylesheet" href="css/UI.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic">
    </head>
    <body data-ui-state="adjusted__forNav">
        <nav class="nav__global">
            <div data-js-target="init__appSuite-cuboid" class="cuboid__global">
                <div data-ui-state="show__front" class="cuboid-faces__global">
                    <div class="cuboid-faces-front__global">
                        <div class="nav-branding__global">
                            <div data-ui-icon="logo" class="nav-branding-icon__global"> </div>
                            <div class="nav-branding-abrtitle__global">HBS</div>
                            <div class="nav-branding-title__global">Harvard | Business | School</div>
                        </div>
                        <div style="text-align:right;" class="nav-control__global">
                            <button class="button__light" data-ui-core="size__large" data-ui-addon="icon__left icon__right" data-js-handler="show__appSuite-apps-panel show__appSuite-apps-cuboid">
                                <div class="button-icon__transparent" data-ui-core="size__large" data-ui-addon="icon__left" data-ui-icon="th" style="font-size:1rem;"></div>
                                <p data-ui-core="size__large" data-ui-addon="icon__left icon__right" class="button-content__transparent"></p>
                            </button>
                        </div>
                    </div>
                    <div class="cuboid-faces-bottom__global"><a href="#">Show Back</a></div>
                    <div class="cuboid-faces-back__global"><a href="#">Show Top</a></div>
                    <div class="cuboid-faces-top__global">
                        <div style="text-align:left;" class="nav-control__global">
                            <button class="button__light" data-ui-core="size__large" data-ui-addon="icon__left" data-js-handler="show__appSuite-app-panel show__appSuite-app-cuboid">
                                <div class="button-icon__light" data-ui-core="size__large" data-ui-addon="icon__left" data-ui-icon="left-open"></div>
                                <div class="button-content__light" data-ui-core="size__large">back</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div data-js-target="panels__appSuite" class="panels_">
            <div id="panel__appSuite-apps" class="panels-panel__light">
                <div class="panels-panel-content__light">
                    <div class="panels-panel-content-fader__light"></div>
                </div>
            </div>
            <div id="panel__appSuite-app" class="panels-panel__dark" data-ui-state="is__active">
                <div data-ui-state="adjusted__forNav" class="panels-panel-content__dark">
                    <div class="panels-panel-content-fader__dark"></div>
                    <nav class="nav__app">
                        <div data-js-target="init__cuboid" class="cuboid__app">
                            <div data-ui-state="show__front" class="cuboid-faces__app">
                                <div class="cuboid-faces-front__app">
                                    <div class="nav-branding__app">
                                        <div class="nav-branding-icon__app">&#xe84c</div>
                                        <div class="nav-branding-abrtitle__app">IQM</div>
                                        <div class="nav-branding-title__app">Integrated Quality Manager</div>
                                    </div>
                                    <div style="text-align:right;" class="nav-control_">
                                        <button class="button__inverted" data-ui-core="size__large" data-ui-addon="icon__left icon__right" data-js-target="file-options__toggle">
                                            <div class="button-content__inverted" data-ui-core="size__large" data-ui-addon="icon__left icon__right">
                                                <div data-ui-icon="file_settings_icon size__large"></div>
                                            </div>
                                            <div class="button-icon__inverted" data-ui-core="size__small" data-ui-addon="icon__right" data-ui-icon="sort-down"></div>
                                        </button>
                                    </div>
                                </div>
                                <div class="cuboid-faces-bottom__app"><a href="#">Show Back</a></div>
                                <div class="cuboid-faces-back__app"><a href="#">Show Top</a></div>
                                <div class="cuboid-faces-top__app"><a href="#">Show Front</a></div>
                            </div>
                        </div>
                    </nav>
                    <div data-js-target="panels__appIQM" class="panels_">
                        <div id="panel__appIQM-iframe" class="panels-panel__light">
                            <div class="panels-panel-content__modal">
                                <div class="panels-panel-content-fader__light"></div>
                                <div data-ui-core="mode__float" class="bar_">
                                    <button data-ui-core="size__large" data-ui-addon="icon__left" data-js-handler="hide__iframe-panel" style="float:right;" class="button__light">
                                        <div data-ui-icon="cancel size__medium"></div>
                                    </button>
                                </div>
                                <iframe src="" style="width:100%;height:100%;"></iframe>
                            </div>
                        </div>
                        <div id="panel__appIQM-stage" class="panels-panel__default" data-ui-state="is__active">
                            <div class="panels-panel-content__default">
                                <div class="panels-panel-content-fader__default"></div>
                                <div data-js-target="panels__fileRecords" class="panels__card">
                                    <div id="panel__fileRecords-records" class="panels-panel__card">
                                        <div class="panels-panel-content__card">
                                            <div class="panels-panel-content-fader_"></div>
                                            <div class="panels-panel-content-header__card">
                                                <h2>Records</h2>
                                                <div data-ui-core="float__right">
                                                    <div data-ui-core="mode__button size__large" data-ui-state="is__checked" class="toggler__bold">
                                                        <input data-ui-core="mode__button size__large" type="checkbox" value="has__error" checked class="toggler-input__bold" data-js-handler="recordsTable__filter">
                                                        <div data-ui-core="mode__button size__large" data-ui-state="is__checked" class="toggler-toggle__bold">
                                                            <div data-ui-core="mode__button size__large" data-ui-state="is__checked" data-ui-icon="attention" class="toggler-toggle-indicator__bold"></div>
                                                        </div>
                                                    </div>
                                                    <div data-ui-core="mode__button size__large" data-js-target="init_toggler" class="toggler__bold">
                                                        <input data-ui-core="mode__button size__large" type="checkbox" class="toggler-input__bold">
                                                        <div data-ui-core="mode__button size__large" class="toggler-toggle__bold">
                                                            <div data-ui-core="mode__button size__large" data-ui-icon="file_exclusion" class="toggler-toggle-indicator__bold"></div>
                                                        </div>
                                                    </div>
                                                    <div data-ui-core="mode__button size__large" class="toggler__bold">
                                                        <input data-ui-core="mode__button size__large" type="checkbox" class="toggler-input__bold">
                                                        <div data-ui-core="mode__button size__large" class="toggler-toggle__bold">
                                                            <div data-ui-core="mode__button size__large" data-ui-icon="clock" class="toggler-toggle-indicator__bold"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-ui-core="padding__top-xxs" data-ui-grid="mobile__12">
                                                    <input placeholder="search" class="field_" data-js-handler="recordsTable__search">
                                                </div>
                                            </div>
                                            <div data-ui-core="padding__mobile-top-lg" class="layout">
                                                <table id="recordsTable" data-ui-core="size__large" data-js-target="recordsTable" class="table_">
                                                    <thead data-ui-core="size__large" class="table-head_">
                                                        <tr data-ui-core="size__large" class="table-head-row_">
                                                            <th data-ui-core="size__large" data-js-handler="recordsTable__sort" data-sort="is__firstName" class="table-head-row-header_">First Name</th>
                                                            <th data-ui-core="size__large" data-js-handler="recordsTable__sort" data-sort="is__lastName" class="table-head-row-header_">Last Name</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody data-ui-core="size__large" class="table-body_"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="panel__fileRecords-record" class="panels-panel__card">                                        
                                        <div class="panels-panel-notification_">
                                            <span data-ui-icon="file_exclusion"></span>
                                            <h3>Exclusion</h3>
                                            <div data-ui-core="float__right">
                                                <button class="button__inverted" data-ui-core="size__small padding__none" data-ui-addon="icon__left icon__right">
                                                    <div class="button-content__inverted" data-ui-core="size__small" data-ui-addon="icon__left icon__right">
                                                        <div data-ui-icon="cancel size__medium"></div>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="panels-panel-content__card">
                                            <div class="panels-panel-content-fader_"></div>
                                            <div class="panels-panel-content-header_">
                                                <button data-ui-core="size__large padding__left-none" data-ui-addon="icon__left" data-js-handler="swap-panels__record&amp;records" data-ui-state="visible__mobile-inline-block hidden__laptop" class="button__light">
                                                    <div data-ui-core="size__large" data-ui-addon="icon__left" data-ui-icon="left-open" class="button-icon__light"></div>
                                                    <div data-ui-core="size__large" class="button-content__light">back</div>
                                                </button>
                                                <h2 data-js-target="recordName">Details</h2>

                                                <div data-ui-core="mode__check size__small padding__left-xxs" class="toggler__bold">
                                                    <input data-ui-core="mode__check size__small" type="checkbox" value="is__exclusion" class="toggler-input__bold">
                                                    <div data-ui-core="mode__check size__small" class="toggler-toggle__bold">
                                                        <div data-ui-core="mode__check size__small" class="toggler-toggle-indicator__bold"></div>
                                                    </div>
                                                    <label class="toggler-label__bold">exclusion</label>
                                                </div>
                                                <div data-ui-core="float__right">
                                                    <div data-ui-core="mode__button size__large" data-ui-state="is__checked" class="toggler_bold">
                                                        <input data-ui-core="mode__button size__large" type="checkbox" name="name-3" value="has__error" checked class="toggler-input__bold" data-js-handler="detailsTable__filter">
                                                        <div data-ui-core="mode__button size__large" data-ui-state="is__checked" class="toggler-toggle__bold">
                                                            <div data-ui-core="mode__button size__large" data-ui-state="is__checked" data-ui-icon="attention" class="toggler-toggle-indicator__bold"></div>
                                                        </div>
                                                    </div>
                                                    <div data-ui-core="mode__button size__large" class="toggler__bold">
                                                        <input data-ui-core="mode__button size__large" type="checkbox" value="is__pending" class="toggler-input__bold" data-js-handler="detailsTable__filter">
                                                        <div data-ui-core="mode__button size__large" class="toggler-toggle__bold">
                                                            <div data-ui-core="mode__button size__large" data-ui-icon="clock" class="toggler-toggle-indicator__bold"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-ui-core="padding__top-xxs" data-ui-grid="mobile__12">
                                                    <input placeholder="search" class="field_" data-js-handler="detailsTable__search">
                                                </div>
                                                <div data-ui-core="padding__mobile-top-xxs" data-ui-state="visible__mobile-block hidden__phablet" data-ui-grid="mobile__12" class="layout">
                                                    <div data-ui-core="mode__segmentcontrol size__large" data-ui-grid="mobile__6" class="toggler__bold">
                                                        <input data-ui-core="mode__segmentcontrol size__large" type="radio" name="mobile__sort-details" class="toggler-input__bold">
                                                        <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle__bold">
                                                            <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle-indicator__bold">Sort Fields</div>
                                                        </div>
                                                    </div>
                                                    <div data-ui-core="mode__segmentcontrol size__large" data-ui-grid="mobile__6" class="toggler__bold">
                                                        <input data-ui-core="mode__segmentcontrol size__large" type="radio" name="mobile__sort-details" value="error" class="toggler-input__bold">
                                                        <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle__bold">
                                                            <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle-indicator__bold">Sort Errors</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-ui-core="padding__mobile-top-lg" class="layout">
                                                <table id="detailsTable" data-ui-core="size__large" data-js-target="detailsTable" class="table_">
                                                    <thead data-ui-core="size__large" class="table-head_">
                                                        <tr data-ui-core="size__large" class="table-head-row">
                                                            <th data-ui-core="size__large" data-ui-state="is__sortable" data-sort="is__field" data-js-handler="detailsTable__sort" class="table-head-row-header_">Field</th>
                                                            <th data-ui-core="size__large" data-ui-state="is__sortable" data-sort="is__error" data-js-handler="detailsTable__sort" class="table-head-row-header_">Error</th>
                                                            <th data-ui-core="size__large" class="table-head-row-header_">Content</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody data-ui-core="size__large" class="table-body_"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="<%= jquery%>"></script>
        <script src="<%= _default%>handlebars.runtime.js"></script>
        <script src="<%= _default%>jquery.basictable.js"></script>
        <script src="<%= _default%>list.min.js"></script>
        <script src="<%= _default%>jquery.webui-popover.js"></script>
        <script src="<%= _default%>compiled.js"></script>
        <script src="<%= _default%>UI.js"></script>
        <script src="<%= _default%>IQM.js"></script>
    </body>
</html>
