<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>IQM</title>
<!--         <link rel="stylesheet" href="css/pikaday.css"> -->
        <link rel="stylesheet" href="css/UI.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic">
    </head>
    <body data-ui-state="adjusted__forNav">
        <nav class="nav__global">
            <div data-js-target="init__appSuite-cuboid" class="cuboid__global">
                <div data-ui-state="show__front" class="cuboid-faces__global">
                    <div class="cuboid-faces-front__global">
                        <div class="fader_"></div>
                        <div class="nav-branding__global">
                            <div data-ui-icon="logo" class="nav-branding-icon__global"> </div>
                            <div class="nav-branding-abrtitle__global">HBS</div>
                            <div class="nav-branding-title__global">Harvard | Business | School</div>
                        </div>
                        <div style="text-align:right;" class="nav-control__global">
                            <button class="button__light" data-ui-core="size__large" data-ui-addon="icon__left icon__right" data-js-handler="show__appSuite-apps-panel show__appSuite-apps-cuboid">
                                <div class="button-icon__transparent" data-ui-core="size__large" data-ui-addon="icon__left" data-ui-icon="th" style="font-size:1rem;"></div>
                                <p data-ui-core="size__large" data-ui-addon="icon__left icon__right" class="button-content__transparent"></p>
                            </button>
                        </div>
                    </div>
                    <div class="cuboid-faces-bottom__global">
                        <div class="fader_"></div>
                        <a href="#">Show Back</a>
                    </div>
                    <div class="cuboid-faces-back__global">
                        <div class="fader_"></div>
                        <a href="#">Show Top</a>
                        </div>
                    <div class="cuboid-faces-top__global">
                        <div class="fader_"></div>
                        <div style="text-align:left;" class="nav-control__global">
                            <button class="button__light" data-ui-core="size__large" data-ui-addon="icon__left" data-js-handler="show__appSuite-app-panel show__appSuite-app-cuboid">
                                <div class="button-icon__light" data-ui-core="size__large" data-ui-addon="icon__left" data-ui-icon="left-open"></div>
                                <div class="button-content__light" data-ui-core="size__large">back</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div data-js-target="panels__appSuite" class="panels_">
            <div id="panel__appSuite-apps" class="panels-panel__light">
                <div class="panels-panel-content__light">
                    <div class="fader_light"></div>
                </div>
            </div>
            <div id="panel__appSuite-app" class="panels-panel__dark" data-ui-state="is__active" style="height:100%;">
                <div class="panels-panel-content__dark" style="padding-top: 50px;">
                    <div class="fader_dark"></div>
                    <nav class="nav__app">
                        <div data-js-target="init__cuboid" class="cuboid__app">
                            <div data-ui-state="show__front" class="cuboid-faces__app">
                                <div class="cuboid-faces-front__app">
                                    <div class="nav-branding__app">
                                        <div class="nav-branding-icon__app">&#xe84c</div>
                                        <div class="nav-branding-abrtitle__app">IQM</div>
                                        <div class="nav-branding-title__app">Integrated Quality Manager</div>
                                    </div>
                                    <div style="text-align:right;" class="nav-control_">
                                        <button class="button__inverted" data-ui-core="size__large" data-ui-addon="icon__left icon__right" data-js-target="file-options__toggle">
                                            <div class="button-content__inverted" data-ui-core="size__large" data-ui-addon="icon__left icon__right">
                                                <div data-ui-icon="file_settings_icon size__large"></div>
                                            </div>
                                            <div class="button-icon__inverted" data-ui-core="size__small" data-ui-addon="icon__right" data-ui-icon="sort-down"></div>
                                        </button>
                                    </div>
                                </div>
                                <div class="cuboid-faces-bottom__app"><a href="#">Show Back</a></div>
                                <div class="cuboid-faces-back__app"><a href="#">Show Top</a></div>
                                <div class="cuboid-faces-top__app"><a href="#">Show Front</a></div>
                            </div>
                        </div>
                    </nav>
                    <div data-js-target="panels__appIQM" class="panels_" data-ui-grid="mobile_12">
                        <div class="modal_" data-ui-state="animate__in move__top" data-js-target="modal__iframe">
                            <div class="modal-window_" data-ui-state="animate__in scale__down rotate__bottom">
                                <div class="modal-window-content_">
                                    <div class="fader_light"></div>
                                    <div data-ui-core="mode__float" class="bar_">
                                        <button data-ui-core="size__large" data-ui-addon="icon__left" data-js-handler="closeModal" style="float:right;" class="button__light">
                                            <div data-ui-icon="cancel size__small"></div>
                                        </button>
                                    </div>
                                    <iframe data-js-target="iframePDM" src="https://secure-stage.hbs.edu/pdm/sis/mba/btStuDtl/edit?prsnId=690993" style="width: 840px;
                                    height: 569px;
                                    margin-left: -13px;
                                    position: relative;
                                    margin-top: -80px;"></iframe>
                                </div>
                            </div>
                        </div>

                        <div class="offCanvasPanel_" data-ui-core="side__right" data-js-target="offCanvasPanel__fileSettings"> <!-- offCanvasPanel  START -->
                            
                            <h3 class="webui-popover-title">
                                File Summary
                                <div class="popover-title-nav" style="font-size : 0px;">
                                    <div id="file_options" data-ui-core="mode__segmentcontrol size__small" data-ui-grid="mobile__6" class="toggler__inverted">
                                        <input data-js-target="show__fileSummary-settings-panel" data-ui-core="mode__segmentcontrol size__small" type="radio" name="file-summary__settings-toggle" value="settings" class="toggler-input__inverted" checked="">
                                        <div data-ui-core="mode__segmentcontrol size__small" class="toggler-toggle__inverted">
                                            <div data-ui-core="mode__segmentcontrol size__small" class="toggler-toggle-indicator__inverted">Settings</div>
                                        </div>
                                    </div>
                                    <div id="file_options" data-ui-core="mode__segmentcontrol size__small" data-ui-grid="mobile__6" class="toggler__inverted">
                                        <input data-js-target="show__fileSummary-stats-panel" data-ui-core="mode__segmentcontrol size__small" type="radio" name="file-summary__settings-toggle" value="stats" class="toggler-input__inverted">
                                        <div data-ui-core="mode__segmentcontrol size__small" class="toggler-toggle__inverted">
                                            <div data-ui-core="mode__segmentcontrol size__small" class="toggler-toggle-indicator__inverted">Stats</div>
                                        </div>
                                    </div>
                                </div>
                            </h3>
                            <div class="panels_" data-js-target="panels__fileSummary">
                                <div id="panel__fileSummary-settings" class="panels-panel_" data-ui-core="mode__flush size__12 position__0" data-ui-state="is__active" style="padding: 12px 10px 0px 10px;font-size:0px;">
                                    <div class="panels-panel-content__default">
                                        <div class="panels-panel-content-fader"></div>
                                        <div data-ui-core="padding__mobile-horizontal-sm padding__mobile-top-md" class="layout">
                                            <div id="file_options" data-ui-core="mode__segmentcontrol size__large" data-ui-grid="mobile__6" class="toggler__inverted">
                                                <input data-js-target="file-summary__segmentcontrol" data-ui-core="mode__segmentcontrol size__large" type="radio" name="file-summary__programs-toggle" value="doctoral" class="toggler-input__inverted" checked="">
                                                <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle__inverted">
                                                    <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle-indicator__inverted">Doctoral</div>
                                                </div>
                                            </div>
                                            <div id="file_options" data-ui-core="mode__segmentcontrol size__large" data-ui-grid="mobile__6" class="toggler__inverted">
                                                <input data-js-target="file-summary__segmentcontrol" data-ui-core="mode__segmentcontrol size__large" type="radio" name="file-summary__programs-toggle" value="MBA" class="toggler-input__inverted">
                                                <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle__inverted">
                                                    <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle-indicator__inverted">MBA</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-ui-core="padding__mobile-horizontal-sm padding__mobile-top-md" class="layout">
                                            <div id="file_options" data-ui-core="mode__segmentcontrol size__large" data-ui-grid="mobile__6" class="toggler__inverted">
                                                <input data-js-target="file-summary__segmentcontrol" data-ui-core="mode__segmentcontrol size__large" type="radio" name="file-summary__department-toggle" value="admit" class="toggler-input__inverted">
                                                <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle__inverted">
                                                    <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle-indicator__inverted">Admit</div>
                                                </div>
                                            </div>
                                            <div id="file_options" data-ui-core="mode__segmentcontrol size__large" data-ui-grid="mobile__6" class="toggler__inverted">
                                                <input data-js-target="file-summary__segmentcontrol" data-ui-core="mode__segmentcontrol size__large" type="radio" name="file-summary__department-toggle" value="bio" class="toggler-input__inverted" checked="">
                                                <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle__inverted">
                                                    <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle-indicator__inverted">Bio</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-ui-core="padding__mobile-horizontal-sm padding__mobile-top-md" class="layout">
                                            <div id="file_options" data-ui-core="mode__segmentcontrol size__large" data-ui-grid="mobile__6" class="toggler__inverted">
                                                <input data-js-target="file-summary__segmentcontrol" data-ui-core="mode__segmentcontrol size__large" type="radio" name="file-summary__semester-toggle" value="fall" class="toggler-input__inverted">
                                                <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle__inverted">
                                                    <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle-indicator__inverted">Fall</div>
                                                </div>
                                            </div>
                                            <div id="file_options" data-ui-core="mode__segmentcontrol size__large" data-ui-grid="mobile__6" class="toggler__inverted">
                                                <input data-js-target="file-summary__segmentcontrol" data-ui-core="mode__segmentcontrol size__large" type="radio" name="file-summary__semester-toggle" value="spring" class="toggler-input__inverted" checked="">
                                                <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle__inverted">
                                                    <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle-indicator__inverted">Spring</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-ui-core="padding__mobile-horizontal-sm padding__mobile-top-md" class="layout">
                                            <div id="file_options" data-ui-core="mode__segmentcontrol size__large" data-ui-grid="mobile__2" class="toggler__inverted">
                                                <input data-js-target="file-summary__segmentcontrol" data-ui-core="mode__segmentcontrol size__large" type="radio" name="file-summary__year-toggle" value="fall" class="toggler-input__inverted">
                                                <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle__inverted">
                                                    <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle-indicator__inverted">prev</div>
                                                </div>
                                            </div>
                                            <div id="file_options" data-ui-core="mode__segmentcontrol size__large" data-ui-grid="mobile__2" class="toggler__inverted">
                                                <input data-js-target="file-summary__segmentcontrol" data-ui-core="mode__segmentcontrol size__large" type="radio" name="file-summary__year-toggle" value="2015" class="toggler-input__inverted" checked="">
                                                <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle__inverted">
                                                    <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle-indicator__inverted">'15</div>
                                                </div>
                                            </div>
                                            <div id="file_options" data-ui-core="mode__segmentcontrol size__large" data-ui-grid="mobile__2" class="toggler__inverted">
                                                <input data-js-target="file-summary__segmentcontrol" data-ui-core="mode__segmentcontrol size__large" type="radio" name="file-summary__year-toggle" value="2016" class="toggler-input__inverted">
                                                <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle__inverted">
                                                    <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle-indicator__inverted">'16</div>
                                                </div>
                                            </div>
                                            <div id="file_options" data-ui-core="mode__segmentcontrol size__large" data-ui-grid="mobile__2" class="toggler__inverted">
                                                <input data-js-target="file-summary__segmentcontrol" data-ui-core="mode__segmentcontrol size__large" type="radio" name="file-summary__year-toggle" value="2017" class="toggler-input__inverted">
                                                <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle__inverted">
                                                    <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle-indicator__inverted">'17</div>
                                                </div>
                                            </div>
                                            <div id="file_options" data-ui-core="mode__segmentcontrol size__large" data-ui-grid="mobile__2" class="toggler__inverted">
                                                <input data-js-target="file-summary__segmentcontrol" data-ui-core="mode__segmentcontrol size__large" type="radio" name="file-summary__year-toggle" value="2018" class="toggler-input__inverted">
                                                <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle__inverted">
                                                    <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle-indicator__inverted">'18</div>
                                                </div>
                                            </div>
                                            <div id="file_options" data-ui-core="mode__segmentcontrol size__large" data-ui-grid="mobile__2" class="toggler__inverted">
                                                <input data-js-target="file-summary__segmentcontrol" data-ui-core="mode__segmentcontrol size__large" type="radio" name="file-summary__year-toggle" value="2019" class="toggler-input__inverted">
                                                <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle__inverted">
                                                    <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle-indicator__inverted">'19</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-ui-core="padding__mobile-left-sm padding__mobile-right-xxs padding__mobile-top-xl padding__mobile-bottom-md" data-ui-grid="mobile__6" class="layout">
                                            <button class="button__outline" data-ui-core="size__small" data-ui-grid="mobile__12">
                                                <div class="button-content__outline" data-ui-core="size__small">download CSV</div>
                                            </button>
                                        </div>
                                        <div data-ui-core="padding__mobile-left-xxs padding__mobile-right-sm padding__mobile-top-xl padding__mobile-bottom-md" data-ui-grid="mobile__6" class="layout">
                                            <button class="button__outline" data-ui-core="size__small" data-ui-grid="mobile__12">
                                                <div class="button-content__outline" data-ui-core="size__small">send file</div>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div id="panel__fileSummary-stats" class="panels-panel_" data-ui-core="mode__flush size__12 position__0" style="padding: 12px 10px 0px 10px;">
                                    <div class="panels-panel-content__default">
                                        <div class="panels-panel-content-fader"></div>
                                        <div class="layout">
                                            <table class="table__inverted" data-ui-core="size__small">
                                                <thead class="table-head__inverted" data-ui-core="size__small">
                                                    <tr class="table-head-row__inverted" data-ui-core="size__small">
                                                        <th class="table-head-row-header__inverted" data-ui-core="size__small"></th>
                                                        <th class="table-head-row-header__inverted" data-ui-core="size__small">Last</th>
                                                        <th class="table-head-row-header__inverted" data-ui-core="size__small">Current</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="table-body__inverted" data-ui-core="size__small">
                                                    <tr class="table-body-row__inverted" data-ui-core="size__small">
                                                        <td class="table-body-row-header__inverted" data-ui-core="size__small">Records</td>
                                                        <td class="table-body-row-cell__inverted" data-ui-core="size__small">500</td>
                                                        <td class="table-body-row-cell__inverted" data-ui-core="size__small">1889</td>
                                                    </tr>
                                                    <tr class="table-body-row__inverted" data-ui-core="size__small">
                                                        <td class="table-body-row-header__inverted" data-ui-core="size__small">Exclusions</td>
                                                        <td class="table-body-row-cell__inverted" data-ui-core="size__small">5</td>
                                                        <td class="table-body-row-cell__inverted" data-ui-core="size__small">7</td>
                                                    </tr>
                                                    <tr class="table-body-row__inverted" data-ui-core="size__small">
                                                        <td class="table-body-row-header__inverted" data-ui-core="size__small"></td>
                                                        <td class="table-body-row-cell__inverted" data-ui-core="size__small"></td>
                                                        <td class="table-body-row-cell__inverted" data-ui-core="size__small"></td>
                                                    </tr>
                                                    <tr class="table-body-row__inverted" data-ui-core="size__small">
                                                        <td class="table-body-row-header__inverted" data-ui-core="size__small">Stat</td>
                                                        <td class="table-body-row-cell__inverted" data-ui-core="size__small">200</td>
                                                        <td class="table-body-row-cell__inverted" data-ui-core="size__small">300</td>
                                                    </tr>
                                                    <tr class="table-body-row__inverted" data-ui-core="size__small">
                                                        <td class="table-body-row-header__inverted" data-ui-core="size__small">EC</td>
                                                        <td class="table-body-row-cell__inverted" data-ui-core="size__small">200</td>
                                                        <td class="table-body-row-cell__inverted" data-ui-core="size__small">950</td>
                                                    </tr>
                                                    <tr class="table-body-row__inverted" data-ui-core="size__small">
                                                        <td class="table-body-row-header__inverted" data-ui-core="size__small">RC</td>
                                                        <td class="table-body-row-cell__inverted" data-ui-core="size__small">200</td>
                                                        <td class="table-body-row-cell__inverted" data-ui-core="size__small">939</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- offCanvasPanel  end -->

                        <div class="layout__default" data-ui-core="mode__full" data-ui-grid="mobile__12" data-js-target="app__mainCanvas">
                            <div class="fader_default"></div>
                            <div class="loader_"></div>

                            <div data-js-target="panels__fileRecords" class="panels__card">
                                <div id="panel__fileRecords-records" class="panels-panel__card">
                                    <div class="panels-panel-content__card">
                                        <div class="fader"></div>
                                        <div class="panels-panel-content-header__card">
                                            <h2>Records</h2>
                                            <div data-ui-core="float__right">
                                                <div class="toggler__bold" data-ui-core="mode__button size__large" data-ui-state="is__checked" data-js-target="tooltip__error">
                                                    <input data-ui-core="mode__button size__large" type="checkbox" value="has__error" checked class="toggler-input__bold" data-js-handler="recordsTable__filter">
                                                    <div data-ui-core="mode__button size__large" data-ui-state="is__checked" class="toggler-toggle__bold">
                                                        <div data-ui-core="mode__button size__large" data-ui-state="is__checked" data-ui-icon="attention" class="toggler-toggle-indicator__bold"></div>
                                                    </div>
                                                </div>
                                                <div data-ui-core="mode__button size__large" data-js-target="init_toggler" class="toggler__bold">
                                                    <input data-ui-core="mode__button size__large" type="checkbox" class="toggler-input__bold">
                                                    <div data-ui-core="mode__button size__large" class="toggler-toggle__bold">
                                                        <div data-ui-core="mode__button size__large" data-ui-icon="file_exclusion" class="toggler-toggle-indicator__bold"></div>
                                                    </div>
                                                </div>
<!--                                                     <div data-ui-core="mode__button size__large" class="toggler__bold">
                                                    <input data-ui-core="mode__button size__large" type="checkbox" class="toggler-input__bold">
                                                    <div data-ui-core="mode__button size__large" class="toggler-toggle__bold">
                                                        <div data-ui-core="mode__button size__large" data-ui-icon="clock" class="toggler-toggle-indicator__bold"></div>
                                                    </div>
                                                </div> -->
                                            </div>
                                            <div data-ui-core="padding__top-xxs" data-ui-grid="mobile__12">
                                                <input placeholder="search" class="field_" data-js-handler="recordsTable__search">
                                            </div>
                                        </div>
                                        <div data-ui-core="padding__mobile-top-lg" class="layout">
                                            <table id="recordsTable" data-ui-core="size__large" data-js-target="recordsTable" class="table_">
                                                <thead data-ui-core="size__large" class="table-head_">
                                                    <tr data-ui-core="size__large" class="table-head-row_">
                                                        <th data-ui-core="size__large" data-js-handler="recordsTable__sort" data-sort="is__firstName" class="table-head-row-header_">First Name</th>
                                                        <th data-ui-core="size__large" data-js-handler="recordsTable__sort" data-sort="is__lastName" class="table-head-row-header_">Last Name</th>
                                                    </tr>
                                                </thead>
                                                <!-- <tbody data-ui-core="size__large" class="table-body_"></tbody> -->
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div id="panel__fileRecords-record" class="panels-panel__card">                                        
                                    <div class="panels-panel-notification_" data-ui-state="animate__out move__bottom">
                                        <div class="panels-panel-notification-content_" data-ui-state="animate__out rotate__bottom scale__down">
                                            <div class="fader"></div>
                                            <span data-ui-icon="file_exclusion"></span>
                                            <h3>Exclusion</h3>
                                            <div data-ui-core="float__right">
                                                <button class="button__inverted" data-ui-core="size__small padding__none" data-ui-addon="icon__left icon__right">
                                                    <div class="button-content__inverted" data-ui-core="size__small" data-ui-addon="icon__left icon__right">
                                                        <div data-ui-icon="cancel size__small" data-js-handler="toggle__exclusion"></div>
                                                    </div>
                                                </button>
                                            </div>
                                            <div style="font-size: 0.75rem;font-weight: 300;margin-top: 5px;">
                                                start date : <span data-js-target="activeExclusion__startDate"></span>- 
                                                <input class="datepickr" placeholder="set end date" data-js-handler="exclusionEnd__datePicker" style="    width: 90px;
outline: none;
border: 1px solid white;
padding: 6px 10px;
border-radius: 4px;
background: transparent;
color: white;">
                                            </div>
                                            <div class="panels-panel-notification-content-textarea_ needsclick" contenteditable="true" placeholder="reason for excluding record..."></div>
                                        </div>
                                    </div>
                                    <div class="panels-panel-content__card">
                                        <div class="fader"></div>
                                        <div class="panels-panel-content-header_">
                                            <button data-ui-core="size__large padding__left-none" data-ui-addon="icon__left" data-js-handler="swap-panels__record&amp;records" data-ui-state="visible__mobile-inline-block hidden__laptop" class="button__light">
                                                <div data-ui-core="size__large" data-ui-addon="icon__left" data-ui-icon="left-open" class="button-icon__light"></div>
                                                <div data-ui-core="size__large" class="button-content__light">back</div>
                                            </button>
                                            <h2 data-js-target="recordName">Details</h2>

                                            <div data-ui-core="mode__check size__small padding__left-xxs" class="toggler__bold">
                                                <input data-ui-core="mode__check size__small" data-js-handler="toggle__panelNotification" type="checkbox" value="is__exclusion" class="toggler-input__bold">
                                                <div data-ui-core="mode__check size__small" class="toggler-toggle__bold">
                                                    <div data-ui-core="mode__check size__small" class="toggler-toggle-indicator__bold"></div>
                                                </div>
                                                <label class="toggler-label__bold">exclusion</label>
                                            </div>
                                            <div data-ui-core="float__right">
                                                <div class="toggler_bold" data-ui-core="mode__button size__large" data-ui-state="is__checked" data-js-target="tooltip__error">
                                                    <input data-ui-core="mode__button size__large" type="checkbox" name="name-3" value="has__error" checked class="toggler-input__bold" data-js-handler="detailsTable__filter">
                                                    <div data-ui-core="mode__button size__large" data-ui-state="is__checked" class="toggler-toggle__bold">
                                                        <div data-ui-core="mode__button size__large" data-ui-state="is__checked" data-ui-icon="attention" class="toggler-toggle-indicator__bold"></div>
                                                    </div>
                                                </div>
<!--                                                     <div data-ui-core="mode__button size__large" class="toggler__bold">
                                                    <input data-ui-core="mode__button size__large" type="checkbox" value="is__pending" class="toggler-input__bold">
                                                    <div data-ui-core="mode__button size__large" class="toggler-toggle__bold">
                                                        <div data-ui-core="mode__button size__large" data-ui-icon="clock" class="toggler-toggle-indicator__bold"></div>
                                                    </div>
                                                </div> -->
                                            </div>
                                            <div data-ui-core="padding__top-xxs" data-ui-grid="mobile__12">
                                                <input placeholder="search" class="field_" data-js-handler="detailsTable__search">
                                            </div>
                                            <div data-ui-core="padding__mobile-top-xxs" data-ui-state="visible__mobile-block hidden__phablet" data-ui-grid="mobile__12" class="layout">
                                                <div data-ui-core="mode__segmentcontrol size__large" data-ui-grid="mobile__6" class="toggler__bold">
                                                    <input data-ui-core="mode__segmentcontrol size__large" type="radio" name="mobile__sort-details" class="toggler-input__bold">
                                                    <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle__bold">
                                                        <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle-indicator__bold">Sort Fields</div>
                                                    </div>
                                                </div>
                                                <div data-ui-core="mode__segmentcontrol size__large" data-ui-grid="mobile__6" class="toggler__bold">
                                                    <input data-ui-core="mode__segmentcontrol size__large" type="radio" name="mobile__sort-details" value="error" class="toggler-input__bold">
                                                    <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle__bold">
                                                        <div data-ui-core="mode__segmentcontrol size__large" class="toggler-toggle-indicator__bold">Sort Errors</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-ui-core="padding__mobile-top-lg" class="layout">
                                            <table id="detailsTable" data-ui-core="size__large" data-js-target="detailsTable" class="table_">
                                                <thead data-ui-core="size__large" class="table-head_">
                                                    <tr data-ui-core="size__large" data-field="academicPlan" class="table-head-row">
                                                        <th data-ui-core="size__large" data-ui-state="is__sortable" data-sort="is__field" data-js-handler="detailsTable__sort" class="table-head-row-header_">Field</th>
                                                        <th data-ui-core="size__large" data-ui-state="is__sortable" data-sort="is__error" data-js-handler="detailsTable__sort" class="table-head-row-header_">Error</th>
                                                        <th data-ui-core="size__large" class="table-head-row-header_">Content</th>
                                                    </tr>
                                                </thead>
                                                <tbody data-ui-core="size__large" data-js-target="updateRecord" class="table-body_">
                                                    <tr data-ui-core="size__large" data-js-handler="show__iframe" class="table-head-row">
                                                        <td data-ui-core="size__large" class="table-body-row-cell_ is__field"><span class="huid" style="display:none;"></span>Address 1</td>
                                                        <td data-ui-core="size__large" class="table-body-row-cell_ is__error"></td>
                                                        <td data-ui-core="size__large" class="table-body-row-cell_ content"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="<%= jquery%>"></script>


        <script src="<%= _default%>nanobar.js"></script>
        <script src="<%= _default%>hammer.js"></script>
        <script src="<%= _default%>jquery.basictable.js"></script>
        <script src="<%= _default%>moment.min.js"></script>
        <script src="<%= _default%>pikaday.js"></script>
        <script src="<%= _default%>list.min.js"></script>
        <script src="<%= _default%>jquery.webui-popover.js"></script>
        <script src="<%= _default%>fastclick.min.js"></script>
        <script src="<%= _default%>tether.js"></script>
        <script src="<%= _default%>drop.js"></script>
        <script src="<%= _default%>tooltip.js"></script>

        <script src="<%= _default%>fastdom.js"></script>

        <script src="<%= _default%>UI.js"></script>
        <script src="<%= _default%>IQM.js"></script>
    </body>
</html>
