* {
	// TIMING DEFINITIONS  -- START
	&[data-ui-state~="animate__off"] {
		@include prefix(transition, transform 0s); 
		-webkit-transition : -webkit-transform 0s; 
		> [class^="fader"]:first {
			@include prefix(transition, "visibility 0s, opacity 0s");
		}
	}

	&[data-ui-state~="animate__in"] {
		@include prefix(transition, transform 0.23s ease-out 0.46s, opacity 0.23s ease-out 0.46s);
		-webkit-transition : -webkit-transform 0.23s ease-out 0.46s, opacity 0.23s ease-out 0.46s;
		> [class^="fader"]:first {
			@include prefix(transition, "visibility 1.3s, opacity 0.3s ease-in 0.18s");
		}
	}
	&[data-ui-state~="animate__in-delay"] {
		@include prefix(transition, transform 0.27s cubic-bezier(.19,1,.22,.97) 0.32s); 
		-webkit-transition : -webkit-transform 0.27s cubic-bezier(.19,1,.22,.97) 0.32s; 
		> [class^="fader"]:first {
			@include prefix(transition, "visibility 1.3s, opacity 0.3s ease-in 0.38s");
		}
	}

	&[data-ui-state~="animate__out"] {
		@include prefix(transition, transform 0.46s cubic-bezier(.43,0,0,1) 0s, opacity 0.46s cubic-bezier(.43,0,0,1) 0s); 
		-webkit-transition : -webkit-transform 0.46s cubic-bezier(.43,0,0,1) 0s, opacity 0.46s cubic-bezier(.43,0,0,1) 0s; 
		> [class^="fader"]:first {
			@include prefix(transition, "visibility 0s, opacity 0.3s ease-out 0s");
		}
	}
	&[data-ui-state~="animate__out-delay"] {
		@include prefix(transition, transform 0.4s cubic-bezier(.43,0,0,1) 0.19s); 
		-webkit-transition : -webkit-transform 0.4s cubic-bezier(.43,0,0,1) 0.19s; 
		[class^="fader"]:first {
			@include prefix(transition, "visibility 0s, opacity 0.3s ease-out 0.09s");
		}
	}
	// TIMING DEFINITIONS  -- END


	// [class*="fader"] {
	// 	@include prefix(transform,translateZ(0));
	// }
	// FADER DEFINITIONS  -- START
	@mixin fader__in {
		> [class^="fader"] {
			visibility : visible;  
			opacity    : 0.5;
		}
	}
	@mixin fader__out {
		// > [class^="fader"] {
		// 	visibility : hidden;  
		// 	opacity    : 0;
		// }		
	}



	&[data-ui-state~="scale__down"] {
		@include prefix(font-smoothing, subpixel-antialiased);
		@include prefix(transform, translateZ(-12px) scale(0.8));
		@include fader__in;
	}
	&[data-ui-state~="scale__up"] {
		@include prefix(font-smoothing, subpixel-antialiased);
		@include prefix(transform, translateZ(-12px) scale(1.2));
	}


	&[data-ui-state~="rotate__right"] {
		@include prefix(font-smoothing, subpixel-antialiased);
		transform-origin : top center;
		@include prefix(transform, translateZ(0) rotateY(15deg));
		@include fader__in;
		&[data-ui-state~="scale__down"] {
			transform-origin : top center;
			@include prefix(transform, translateZ(-12px) rotateY(15deg) scale(0.8));
			@include fader__in;
		}
	}

	&[data-ui-state~="rotate__left"] {
		@include prefix(font-smoothing, subpixel-antialiased);
		transform-origin : top center;
		@include prefix(transform, rotateY(-15deg));
		@include fader__in;
		&[data-ui-state~="scale__down"] {
			transform-origin : top center;
			@include prefix(transform, translateZ(-12px) rotateY(-15deg) scale(0.8));
			@include fader__in;
		}
	}

	&[data-ui-state~="rotate__top"] {
		@include prefix(font-smoothing, subpixel-antialiased);
		transform-origin : bottom;
		@include prefix( transform, translateZ(0) rotateX(15deg) );
		@include fader__in;
		&[data-ui-state~="scale__down"] {
			transform-origin : bottom;
			@include prefix( transform, translateZ(-12px) rotateX(15deg) scale(0.8) );
			@include fader__in;
		}
	}

	&[data-ui-state~="rotate__bottom"] {
		@include prefix(font-smoothing, subpixel-antialiased);
		transform-origin : top;
		@include prefix( transform, translateZ(0) rotateX(-15deg) );
		@include fader__in;
		&[data-ui-state~="scale__down"] {
			transform-origin : top;
			@include prefix( transform, translateZ(-12px) rotateX(-15deg) scale(0.8) );
			@include fader__in;
		}
	}



	&[data-ui-state~="rotate__90-neg"] {
		@include prefix( transform, rotate(-90deg) );
	}



	&[data-ui-state~="scale__down-sm"] {
		@include prefix( transform, scale(0.95) );
		@include fader__in;	
	};

	&[data-ui-state~="scale__down-md"] {
		@include prefix( transform, scale(0.8) );
		@include fader__in;	
	};

	&[data-ui-state~="scale__down-lg"] {
		@include prefix( transform, scale(0.7) );
		@include fader__in;	
	};


	&[data-ui-state~="fade__out"] {
		opacity : 0;
	}
	&[data-ui-state~="fade__out-sm"] {
		opacity : 0.3;
	}
	&[data-ui-state~="fade__out-md"] {
		opacity : 0.5;
	}
	&[data-ui-state~="fade__out-lg"] {
		opacity : 0.7;
	}


	&[data-ui-state~="move__left"] {
		@include prefix(font-smoothing, subpixel-antialiased);
		@include prefix(transform, translateZ(0) translateX(-120%));
	}
	&[data-ui-state~="move__right"] {
		@include prefix(font-smoothing, subpixel-antialiased);
		@include prefix(transform, translateZ(0) translateX(120%));
	}
	&[data-ui-state~="move__top"] {
		@include prefix(font-smoothing, subpixel-antialiased);
		@include prefix(transform, translateZ(0) translateY(-120%));
	}
	&[data-ui-state~="move__bottom"] {
		@include prefix(font-smoothing, subpixel-antialiased);
		@include prefix(transform, translateZ(0) translateY(120%));
	}
}