	// MODULE START
	// base structural values that remain the same always
	[class^="button_"] { 
		position     : relative;
		z-index      : 1;
		display      : inline-block;
		outline      : none;
		cursor       : pointer;
		border       : 0px;
		@include prefix(border-radius, 4px);
		touch-action : manipulation;

		font-family  : $font__family; 
		font-weight  : 300; 
	}
	.button__default {
		background : transparent;
		color      : #151515;
	}		
	.button__inverted {
		background : transparent;
		color      : #ffffff;
	}
	.button__light {
		background : transparent;
		color      : #c0c0c0;
	}
	.button__outline {
		background : transparent;
		color      : rgba(255, 255, 255, 0.6);
		border     : 1px solid rgba(255, 255, 255, 0.6);
	}

	.button__offset {
		background : #ebeaea;
		color      : #ababab;
	}
	.button__bold {
		background : #4cc1bc;
		color      : #fff;
	}
	.button__solid {
		background  : white;
		color       : #5A5A5A;
		font-weight : 400;
	}

	.button__primary-inverted {
		background : #fff;
		color      : #4cc1bc;
	}
		[class^="button-icon_"] {
			position       : relative;
			display        : inline-block;
			vertical-align : middle; 
			&:before {
				font-family : "hbs-modern";
				display     : inline-block;
			}
		}
		[class^="button-content_"] {
			position       : relative;
			display        : inline-block;
			vertical-align : middle; 
			margin    	   : 0px;
			font-size 	   : 0.7rem;
		}






	[class^="button_"] {

		&[data-ui-core~="size__small"] {
			padding : 7px 10px 7px 10px;
		}
		&[data-ui-core~="size__medium"] {
			padding : 9px;
		}
		&[data-ui-core~="size__large"] {
			padding : 10px 17px 8px 17px;
		}
		&[data-ui-core~="mode__stripped"] {
			padding : 0px;
		}
	}
		[class^="button-icon_"] {
			&[data-ui-core~="size__small"] {
				font-size   : 0.85rem;
				line-height : 0.85rem;
				&[data-ui-addon~="icon__left"] {
					padding-right : 5px;
				}
				&[data-ui-addon~="icon__right"] {
					padding-left :  5px;
				}
			}
			&[data-ui-core~="size__large"] {
				font-size   : 1rem;
				line-height : 1rem;
				&[data-ui-addon~="icon__left"] {
					padding-right : 8px;
				}
				&[data-ui-addon~="icon__right"] {
					padding-left :  8px;
				}
			}
		}