	// MODULE START
	// base structural values that remain the same always
[class^="button_"] { 
	position        : relative;
	z-index         : 1;
	display         : flex;
	justify-content : space-around;
	align-items     : center;
	outline         : none;
	cursor          : pointer;
	border          : 0px;
	@include prefix(border-radius, 4px);
	touch-action    : manipulation;

	font-family     : $font__family; 
	font-weight     : 300; 

	&[data-ui-settings~="size__xsmall"] {
		font-size : 0.8rem;
	}
	&[data-ui-settings~="size__small"] {
		font-size : 1rem;
	}		
	&[data-ui-settings~="size__medium"] {
		font-size : 1.2rem;
	}		
	&[data-ui-settings~="size__large"] {
		font-size : 1.4rem;
	}		
	&[data-ui-settings~="size__xlarge"] {
		font-size : 1.6rem;
	}


	&[data-ui-settings~="mount__flush"] {
		padding : 0px;
	}
	&[data-ui-settings~="mount__thin"] {
		@include gridle_state(mobile) {
			padding : 5px 8px;
		}
		@include gridle_state(tablet) {
			padding : 7px 14px;
		}
	}
	&[data-ui-settings~="mount__moderate"] {
		@include gridle_state(mobile) {
			padding : 7px 14px;
		}
		@include gridle_state(tablet) {
			padding : 10px 17px;
		}
	}
	&[data-ui-settings~="mount__thick"] {
		@include gridle_state(mobile) {
			padding : 10px 17px;
		}
		@include gridle_state(tablet) {
			padding : 14px 20px;
		}
	}
}