@charset "UTF-8";

/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */

// ADDED BY PETER KLOSS
    .pika-mobile-controls {
        z-index         : 10000;
        align-items     : center;
        justify-content : space-between;
        left            : 0px;
        width           : 100%;
        @include prefix(border-radius, 4px);
        @include gridle_state(mobile) {
            position   : absolute;
            display    : flex;
            bottom     : -47px;
            height     : 44px;
            padding    : 0px 25px;
            background : rgba(47, 50, 56, 0.96);            
        }
        @include gridle_state(tablet) {
            position   : relative;
            display    : inline-block;
            bottom     : 0px;
            height     : auto;
            width      : 255px;
            padding    : 15px 10px 10px 10px;
            background : transparent;
            .pika-mobile-controls-button {
                &:last-child {
                    float : right;
                }
            }
        }
    }
        .pika-mobile-controls-button {
            position    : relative;
            height      : 100%;
            border      : 0px;
            font-family : "Open Sans", sans-serif;
            font-size   : 0.85rem;
            font-weight : 300;
            cursor      : pointer;

            color       : white;
            background  : transparent;
            @include gridle_state(tablet) {
                font-weight : 400; 
            }
        }
// ADDED BY PETER KLOSS


.pika-single {
    z-index     : 9999;
    display     : block;
    position    : relative;
    background  : rgba(47, 50, 56, 0.96);
    border      : 0px;
    padding     : 12px 23px;
    margin-left : -105px;
    margin-top  : 20px;
    font-family : $font__family;
    @include prefix(border-radius, 4px);

    @include gridle_state(below__tablet) {
        position    : fixed !important;
        top         : auto !important;
        bottom      : 49px !important;
        left        : 50% !important;
        width       : 99%;
        margin-left : -49.5%;
        &:before {
            display : none !important;
        }
    }
}

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before,
.pika-single:after {
    content : " ";
    display : table;
}
.pika-single:after { 
    clear : both 
}
.pika-single:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: rgba(47, 50, 56, 0.96);
    border-width: 10px;
    margin-left: -10px;
}
.pika-single { 
    *zoom : 1 
}

.pika-single.is-hidden {
    @include gridle_state(mobile) {
        visibility : hidden; 
        @include prefix( transform, translateY( calc(105% + 47px) )  !important );
        @include prefix(transition, "visibility 0.3s, transform 0.27s cubic-bezier(.19,1,.22,.97) !important" ); 
        -webkit-transition : visibility 0.3s, -webkit-transform 0.27s cubic-bezier(.19,1,.22,.97) !important; 
    }
    @include gridle_state(tablet) {
        display : none;
    }
}

.pika-single.is-bound {
    position   : absolute;
    @include prefix( box-shadow, 0 0 22px 0 rgba(0,0,0,.18) );

    @include prefix( transform, translateY(0%) );
    @include prefix(transition, "visibility 0s, transform 0.27s cubic-bezier(.19,1,.22,.97)" ); 
    -webkit-transition : visibility 0s, -webkit-transform 0.27s cubic-bezier(.19,1,.22,.97); 
}

.pika-lendar {
    //float  : left;
    width  : 240px;
    margin : 8px;
    @include gridle_state(below__tablet) {
        width  : 100%;
        margin : 0px !important;
    }
}

.pika-title {
    position      : relative;
    text-align    : center;
    margin-bottom : 20px;
    @include gridle_state(below__tablet) {
        margin-bottom : 12px;
    }
}

.pika-label {
    display     : inline-block;
    *display    : inline;
    position    : relative;
    z-index     : 9999;
    overflow    : hidden;
    margin      : 0;
    padding     : 5px 3px;
    font-family : $font__family;
    font-weight : 300;
    font-size   : 1rem;
    line-height : 20px;    
    background  : transparent;
    color       : white;
}
.pika-title select {
    cursor   : pointer;
    position : absolute;
    z-index  : 9998;
    margin   : 0;
    left     : 0;
    top      : 5px;
    filter   : alpha(opacity=0);
    opacity  : 0;
}

.pika-prev,
.pika-next {
    display             : block;
    cursor              : pointer;
    position            : relative;
    outline             : none;
    border              : 0;
    padding             : 0;
    width               : 20px;
    height              : 30px;
    /* hide text using text-indent trick, using width value (it's enough) */
    text-indent         : 20px;
    white-space         : nowrap;
    overflow            : hidden;
    background-color    : transparent;
    background-position : center center;
    background-repeat   : no-repeat;
    background-size     : 75% 75%;
    opacity             : .5;
    *position           : absolute;
    *top                : 0;
}

.pika-prev:hover,
.pika-next:hover {
    opacity : 1;
}

.pika-prev,
.is-rtl .pika-next {
    float            : left;
    *left            : 0;
    &:before {
        content     : '\e816';
        position    : relative;
        font-family : 'hbs-modern';
        color       : #fff ;
        font-size   : 1.2rem;
        left        : -15px;
    }
}

.pika-next,
.is-rtl .pika-prev {
    float            : right;
    *right           : 0;
    &:before {
        content     : '\e817';
        position    : relative;
        font-family : 'hbs-modern';
        color       : #fff ;
        font-size   : 1.2rem;
        left        : -15px;
    }
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor  : default;
    opacity : .2;
}

.pika-select {
    display  : inline-block;
    *display : inline;
}

.pika-table {
    width           : 100%;
    border-collapse : collapse;
    border-spacing  : 0;
    border          : 0;
}

.pika-table th,
.pika-table td {
    width   : 14.285714285714286%;
    padding : 0;
}

.pika-table th {
    color       : #999;
    font-size   : 12px;
    line-height : 25px;
    font-weight : bold;
    text-align  : center;
}

.pika-button {
    cursor      : pointer;
    display     : block;
    box-sizing  : border-box;
    outline     : none;
    border      : 0;
    margin      : 0;
    width       : 100%;
    padding     : 10px 5px;
    font-size   : 12px;
    line-height : 15px;
    text-align  : center;
    background  : transparent;
    color       : white;
    font-family : $font__family;
    @include prefix(box-sizing, border-box);
}

.pika-week {
    font-size : 11px;
    color     : #999;
}

.is-today .pika-button {
    color       : #4cc1bc;
    font-weight : bold;
}

.is-selected .pika-button {
    color       : rgba(255, 255, 255, 0.6);
    font-weight : bold;
    background  : rgba(255, 255, 255, 0.23);
}

.is-inrange .pika-button {
    background : #D5E9F7;
}

.is-startrange .pika-button {
    color      : #fff;
    background : #6CB31D;
    box-shadow : none;
}

.is-endrange .pika-button {
    color      : #fff;
    background : #4cc1bc;
    box-shadow : none;
}

.is-disabled .pika-button {
    pointer-events : none;
    cursor         : default;
    color          : #999;
    opacity        : .3;
}

.pika-button:hover {
    color      : #151515;
    background : #fff;
    box-shadow : none;
}

/* styling for abbr */
.pika-table abbr {
    border-bottom : none;
    cursor        : help;
}

