.code {
    position     : relative;
    margin       : 0px;
    padding-left : 0px;
    list-style   : none; 
    font-size    : 0.8rem;
    border-left  : 1px dotted lightgrey;
    &:before {
        content  : "{";
        position : relative;
        display  : block;
        left     : 5px;
    }
    &:after {
        content  : "}";
        position : relative;
        left     : 5px;
    }
    > .code-object-content-item {
        &:first-child {
            margin : 10px 0px 0px 0px;
        }
    }
}
    .code-options {
        position  : relative;
        display   : inline-block;
        max-width : 100%;
        @include prefix(border-radius, 3px);
        background-color : #F3F3F3;
        &:first-child {
            margin-right: 5px;
        }
        &:after {
            content      : " ";
            position     : absolute;
            top          : 50%;
            right        : 7px;
            width        : 0;
            height       : 0;
            margin-top   : -2px;
            border-left  : 3px solid transparent;
            border-right : 3px solid transparent;
            border-top   : 4px solid #aaa;  
        }
    }
        .code-options-list {
            width       : 100%;
            padding     : 5px 20px 6px 10px;
            font-size   : 0.65rem;
            line-height : 0.8rem;
            font-weight : 400;
            font-family : "Open Sans", sans-serif;
            border      : none;
            cursor      : pointer;
            outline     : none;
            @include prefix(appearance, none);
            background-color : transparent;
            color            : #ABABAB;
        }
    .code-key {
        display         : flex;
        justify-content : space-between;
        flex            : 1;
        max-width       : 200px;
        font-size       : 0.8rem;
        cursor          : text;
        outline         : none;
        color           : #4cc1bc;        

        &:after {
            content : " \00a0 : \00a0 ";
            color   : #151515;
        }
    }
    .code-value {
        //width   : 50%;
        cursor  : text;
        outline : none;
        color   : #ABABAB;

        // &:before {
        //     content : " \00a0 : \00a0 ";
        //     color   : #151515;
        // }
        &:after {
            content : ",";
            color   : #151515;
        }
        > .code-options {
            margin-right : 0px;
        }
    }
    .code-remove {
        &:before {
            content        : '\e803';
            font-family    : "HBS-modern";
            font-size      : 0.4rem;
            line-height    : 0.6rem;
            color          : #DADADA;
            vertical-align : middle;
            padding-left   : 5px;
            cursor         : pointer;
        }
        position     : absolute;
        padding-left : 10px;
    }
    .code-object {
        min-width : 350px;
        &[data-ui-settings~="type__array"] {
            > .code-object-name {
                &:after {
                    content  : " : \00a0 [";
                }
            }
            > .code-object-content {
                &:after {
                    content      : "],";
                }
            }
        }
        &[data-ui-settings~="type__object"] {
            > .code-object-name {
                &:after {
                    content  : " : \00a0 {";
                }
            }
            > .code-object-content {
                &:after {
                    content      : "},";
                }
            }
        }
    }
    .code-object-toggler {
        position  : relative;
        font-size : 0.8rem;
        cursor    : pointer;
        &:before {
            content      : "\e814";
            font-family  : "hbs-modern";
            position     : relative;
            display      : inline-block;
            font-size    : 0.65rem;
            margin       : 0px 4px 0px 6px;
            color        : lightgrey;

            @include prefix( transition, transform 0.25s );
        } 
    }
    .code-object-input {
        display : none;
        ~ .code-object-toggler {
            &:before {
                @include prefix(transform, rotate(-90deg));
            }
        }
        ~ .code-object-content {
            display : inline;
            margin  : 0px;
            padding : 0px;
            border  : 0px;
            > .code-object-content-item {
                display : none;
            }
            &:after {
                display      : inline-block;
                padding-left : 0px;
            }
        }
        &:checked {
            ~ .code-object-toggler {
                &:before {
                    @include prefix(transform, rotate(0deg) translateY(-2px));
                }
            }
            ~ .code-object-content {
                display      : block;
                width        : 100%;
                border-left  : 1px dotted lightgrey;
                margin       : 10px 0px 10px 15px;
                padding      : 5px 0px 0px 0px;
                > .code-object-content-item {
                    display     : flex;
                    align-items : center;
                }
                &:after {
                    display      : block;
                    padding-left : 5px;
                }
            }
        }
    }
    .code-object-name {
        font-size : 0.8rem;
        color     : #4cc1bc;
        cursor    : text;
        outline   : none;
        &:empty {
            &:before {
                content    : "optional name";
                font-size  : 0.8rem;
                font-style : italic;
                opacity    : 0.6;
                color      : #4cc1bc;
            }
        }
        &:after {
            position : relative;
            color    : #151515;
        }
    }
    .code-object-amount {
        padding     : 4px 10px 4px 8px;
        font-size   : 0.6rem;
        margin      : 0px 15px;
        line-height : 0.65rem;
        font-weight : 400;
        font-family : "Open Sans", sans-serif;
        border      : none;
        cursor      : text;
        outline     : none;
        background  : #2D90E4;
        color       : white;
        @include prefix(border-radius, 4px);

        &:empty {
            padding : 0px;
            margin  : 0px;
        }
    }
    .code-object-content {
        list-style   : none;

        &:after {
            position     : relative;
            font-size    : 0.8rem;
        }
    }
        .code-object-content-item {
            &:first-child {
                margin-top   : 0px;
                padding-left : 10px;
                > div {
                    margin-right : 5px;
                }
            }
            &:nth-child(2) {
                margin-top : 15px;
            }
            margin-top : 10px;
            &:last-child {
                margin-bottom : 5px;
                > .code-object {
                    &[data-ui-settings~="type__array"] {
                        > .code-object-content {
                            &:after {
                                content : "]";
                            }
                        }
                    }
                    &[data-ui-settings~="type__object"] {
                        > .code-object-content {
                            &:after {
                                content : "}";
                            }
                        }
                    }
                }
                > .code-value {
                    &:after {
                        content : "";
                    }
                }
            }
            padding-left : 20px;
        }