.code {
    position     : relative;
    padding-left : 20px;
    font-size    : 0.8rem;
    border-left  : 1px dotted lightgrey;
    &:before {
        content : "{";
    }
    &:after {
        content : "}";
    }
}
    .code-object {
        &[data-ui-settings~="type__array"] {
            > .code-object-name {
                &:after {
                    content  : " : \00a0 [";
                }
            }
            > .code-object-content {
                &:after {
                    content      : "]";
                }
            }
        }
        &[data-ui-settings~="type__object"] {
            > .code-object-name {
                &:after {
                    content  : " : \00a0 {";
                }
            }
            > .code-object-content {
                &:after {
                    content      : "}";
                }
            }
        }
    }
    .code-object-toggler {
        position  : relative;
        font-size : 0.8rem;
        cursor    : pointer;
        &:before {
            content      : "\25B6";
            position     : relative;
            display      : inline-block;
            font-size    : 0.55rem;
            margin       : 0px 4px 0px 6px;
            color        : lightgrey;

            @include prefix( transition, transform 0.25s );
        } 
    }
    .code-object-input {
        display : none;
        ~ .code-object-toggler {
            &:before {
                @include prefix(transform, rotate(0deg));
            }
        }
        ~ .code-object-content {
            display : inline;
            margin  : 0px;
            padding : 0px;
            border  : 0px;
            > .code-object-content-item {
                display : none;
            }
            &:after {
                display      : inline-block;
                padding-left : 0px;
            }
        }
        &:checked {
            ~ .code-object-toggler {
                &:before {
                    @include prefix(transform, rotate(90deg));
                }
            }
            ~ .code-object-content {
                display      : block;
                border-left  : 1px dotted lightgrey;
                margin       : 10px 0px 10px 15px;
                padding      : 5px 0px 0px 0px;
                > .code-object-content-item {
                    display : block;
                }
                &:after {
                    display      : block;
                    padding-left : 5px;
                }
            }
        }
    }
    .code-object-name {
        font-size : 0.8rem;
        color     : #4cc1bc;
        cursor    : pointer;
        &:after {
            position : relative;
            color    : #151515;
        }
    }
    .code-object-content {
        list-style   : none;

        &:after {
            position     : relative;
            font-size    : 0.8rem;
        }
    }
        .code-object-content-item {
            &:first-child {
                padding-left : 10px;
                > div {
                    margin-right : 5px;
                }
            }
            &:nth-child(2) {
                margin-top : 15px;
            }
            &:last-child {
                margin-bottom : 5px;
            }
            padding-left : 20px;
        }