$height__large : 60;
$height__small : 50;
$halfed__largeHeight : $height__large/2; 
$halfed__smallHeight : $height__small/2;

// for white menu
$primarySurface__global  : #fff;
$secondarySurface__global : #ccc;
$tertiarySurface__global : #e0e0e0;

// for solid color menu
$primarySurface__app   : #4cc1bc;
$secondarySurface__app : darken( $primarySurface__app, 10% );
$tertiarySurface__app  : darken( $primarySurface__app, 20% );

*[data-ui-state~="adjusted__forNav"] {
	padding-top : $height__small + px;
}
%primarySurface {
	&[class$="_global"] {
		background-color : $primarySurface__global;
	}
	&[class$="_app"] {
		background-color : $primarySurface__app;
	}	
}
%secondarySurface {
	&[class$="_global"] {
		background-color : $secondarySurface__global;
	}
	&[class$="_app"] {
		background-color : $secondarySurface__app;
	}	
}
%tertiarySurface {
	&[class$="_global"] {
		background-color : $tertiarySurface__global;
	}
	&[class$="_app"] {
		background-color : $tertiarySurface__app;
	}	
}

%fader__in {
	> [class^="fader"] {
		visibility : visible;  
		opacity    : 0.25;
		@include prefix(transition, "visibility 0s, opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1)");		
	}
}
%fader__out {
	> [class^="fader"] {
		visibility : hidden;  
		opacity    : 0;
		@include prefix(transition, "visibility 0.6s, opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1)");		
	}
}

[class^="cuboid_"] {
	position    : relative; 
	width       : 100%;
	height      : $height__small + px;
	@include prefix(perspective, 1000px);
	@include prefix(transform,scale(0.975) translateZ(0));
}
	[class^="cuboid-faces_"] {
		position : absolute;
		width    : 100%;
		height   : $height__small + px;
		@include prefix(transform-origin, "center center");
		@include prefix(transform-style, preserve-3d);

		&[class$="_global"] {
			> div { 
				background : #fff;
			}
			// [class^="cuboid-faces-back_"] {
			// 	background : $color__dark;
			// }
		}
		&[class$="_app"] {
			// @include gridle_state(below__phablet) {
			// 	top : 4px;
			// }
			&[data-ui-state~="show__front"],&[data-ui-state~="show__bottom"],&[data-ui-state~="show__top"] {
				@include prefix( box-shadow, "0 0 50px 0 rgba(0, 0, 0, 0.2), 0 0 30px 0 rgba(0, 0, 0, 0.08) , 0 0 10px 0 rgba(0, 0, 0, .15)" );
			}
			> div {
				background : #4cc1bc;
			}
			// [class^="cuboid-faces-back_"] {
			// 	background : $color__dark;
			// }
		}

		> div {
			position : absolute;
			display  : table;
			width    : 100%;
			height   : $height__small + px;
			overflow : hidden;
			@include prefix(font-smoothing, subpixel-antialiased);
			@include prefix(transition, transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1));	
			@include prefix(transition, -webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1));	

			> .fader {
				background : $color__dark; 
			}
			&[data-ui-state~="is__camouflaged"] {
				> .fader {
					opacity    : 1 !important;
					visibility : visible !important; 
				}
			}
			&[data-ui-state~="is__rewinding"] {
    			backface-visibility : hidden;
    		}
		}	

		&[data-ui-state~="show__front"] {
			[class^="cuboid-faces-front_"] {
				@include prefix(transform, rotateX( 0deg ) translateZ( $halfed__smallHeight + px ));
				@extend %fader__out;
			}
			[class^="cuboid-faces-back_"] {
				@include prefix(transform, rotateX( 180deg ) translateZ( $halfed__smallHeight + px ));
				@extend %fader__in;
			}
			[class^="cuboid-faces-top_"] {
				@include prefix(transform, rotateX( 90deg ) translateZ( $halfed__smallHeight + px ));
				@extend %fader__in;
			}
			[class^="cuboid-faces-bottom_"] {
				@include prefix(transform, rotateX( -90deg ) translateZ( $halfed__smallHeight + px ));
				@extend %fader__in;
			}
		}	


		&[data-ui-state~="show__bottom"] {
			[class^="cuboid-faces-front_"] {
				@include prefix(transform, rotateX( 90deg ) translateZ( $halfed__smallHeight + px ));
				@extend %fader__in;
			}
			[class^="cuboid-faces-back_"] {
				@include prefix(transform, rotateX( 270deg ) translateZ( $halfed__smallHeight + px ));
				@extend %fader__in;
			}
			[class^="cuboid-faces-top_"] {
				@include prefix(transform, rotateX( 180deg ) translateZ( $halfed__smallHeight + px ));
				@extend %fader__in;
			}
			[class^="cuboid-faces-bottom_"] {
				@include prefix(transform, rotateX( 0deg ) translateZ( $halfed__smallHeight + px ));
				@extend %fader__out;
			}
		}	


		&[data-ui-state~="show__back"] {
			[class^="cuboid-faces-front_"] {
				@include prefix(transform, rotateX( 180deg ) translateZ( $halfed__smallHeight + px ));
				@extend %fader__in;
			}
			[class^="cuboid-faces-back_"] {
				@include prefix(transform, rotateX( 360deg ) translateZ( $halfed__smallHeight + px ));
				@extend %fader__out;
			}
			[class^="cuboid-faces-top_"] {
				@include prefix(transform, rotateX( 270deg ) translateZ( $halfed__smallHeight + px ));
				@extend %fader__in;
			}
			[class^="cuboid-faces-bottom_"] {
				@include prefix(transform, rotateX( 90deg ) translateZ( $halfed__smallHeight + px ));
				@extend %fader__in;
			}
		}


		&[data-ui-state~="show__top"] {
			[class^="cuboid-faces-front_"] {
				@include prefix(transform, rotateX( 270deg ) translateZ( $halfed__smallHeight + px ));
				@extend %fader__in;
			}
			[class^="cuboid-faces-back_"] {
				@include prefix(transform, rotateX( 450deg ) translateZ( $halfed__smallHeight + px ));
				@extend %fader__in;
			}
			[class^="cuboid-faces-top_"] {
				@include prefix(transform, rotateX( 360deg ) translateZ( $halfed__smallHeight + px ));
				@extend %fader__out;
			}
			[class^="cuboid-faces-bottom_"] {
				@include prefix(transform, rotateX( 180deg ) translateZ( $halfed__smallHeight + px ));
				@extend %fader__in;
			}
		}
	}