[class^="deck_"] {
	position : relative; 
	width    : 100%;
	height   : 100%;
	overflow : hidden;
	@include prefix(perspective, 1000);
}
	[class^="deck-slide_"] {
		position       : absolute;
		height         : 100%;
		overflow-y     : auto;
		vertical-align : top;

		&[data-ui-settings~="mount__flush"] {
			padding : 0px;
		}
		&[data-ui-settings~="mount__thick"] {
			@include gridle_state(mobile) {
				padding : 0px;
			}
			@include gridle_state(phablet) {
				padding : 30px 12px 30px 12px;
				&:nth-child(1) {
					padding : 30px 12px 30px 30px;
				}
				&:nth-last-child(1) {
					padding : 30px 30px 30px 30px !important;
				}
			}
			@include gridle_state(desktop) {
				padding : 30px 12px 30px 12px;
				&:nth-child(1) {
					padding : 30px 12px 30px 30px;
				}
				&:nth-last-child(1) {
					padding : 30px 30px 30px 12px !important;
				}
			}
		}

		&[data-ui-settings~="offCanvas__right"] {
			right : 0px;
		}
		&[data-ui-settings~="offCanvas__left"] {
			left  : 0px;
		}
		&[data-ui-settings~="offCanvas__fixed"] {
			z-index : 2;

			@include gridle(12, mobile);
			@include gridle_state( phablet ) {
				width : 370px;
			}
		}
		&[data-ui-settings~="offCanvas__responsive"] {
			z-index : 2;
			@include gridle(12, mobile);
			@include gridle(9, phablet);
			@include gridle(6, tablet);
			@include gridle(5, laptop);
			@include gridle(4, desktop);

			@include gridle_state( laptop ) {
				max-width : 450px; 
			}
			@include gridle_state( desktop ) {
				max-width : none; 
			}
		}

		&[data-ui-state~="is__hidden"] {
			display : none;
		}
	}
		[class^="deck-slide-content_"] {
			position   : relative;
			width      : 100%;

			&[data-ui-settings~="dimensions__parent"] {
				width  : 100%;
				height : 100%;
			}

			&[data-ui-state~="is__highlighted"] {
				width       : 102%;
				margin-left : - 1%;
				border      : 1px solid rgba(76,193,188,.6);
				@include prefix( box-shadow, "0 0 30px 0 rgba(0, 0, 0, 0.07), 0 0 4px 0 rgba(0, 0, 0, 0.04)" );	
				@include prefix( transition, "width .35s, margin-left .4s, box-shadow .4s");	
			}	
			&[data-js~="appHuver__recordsInner"] {
				@include gridle_state(mobile) {
					&[data-ui-state~="is__highlighted"] {
						width       : 100%;
						margin-left : 0;
						border      : 0px solid rgba(76,193,188,.6);
						@include prefix( box-shadow, "none" );	
						@include prefix( transition, "width .35s, margin-left .4s, box-shadow .4s");
					}
				}
				@include gridle_state(desktop) {
					&[data-ui-state~="is__highlighted"] {
						width       : 102%;
						margin-left : - 1%;
						border      : 1px solid rgba(76,193,188,.6);
						@include prefix( box-shadow, "0 0 30px 0 rgba(0, 0, 0, 0.07), 0 0 4px 0 rgba(0, 0, 0, 0.04)" );	
						@include prefix( transition, "width .35s, margin-left .4s, box-shadow .4s");	
					}
				}
			}
			@include prefix( transition, "width .35s, margin-left .4s, box-shadow .4s");	
		}