[class^="deck_"] {
	position : relative; 
	width    : 100%;
	height   : 100%;
	overflow : hidden;
	@include prefix(perspective, 1000);
}
	[class^="deck-slide_"] {
		position       : absolute;
		height         : 100%;
		overflow-y     : auto;
		vertical-align : top;

		&[data-ui-core~="mount__flush"] {
			padding : 0px;
		}
		&[data-ui-core~="mount__thick"] {
			padding : 30px 12px 15px 12px;
			@include gridle_state(phablet) {
				padding : 30px 12px 15px 12px;
				&:nth-child(1) {
					padding : 30px 12px 15px 30px;
				}
				&:nth-last-child(1) {
					padding : 30px 30px 15px 12px !important;
				}
			}
		}

		&[data-ui-core~="offCanvas__right"] {
			right : 0px;
		}
		&[data-ui-core~="offCanvas__left"] {
			left  : 0px;
		}

		&[data-ui-state~="is__hidden"] {
			display : none;
		}
	}
		[class^="deck-slide-content_"] {
			position   : relative;
			width      : 100%;
			&[data-ui-core~="dimensions__parent"] {
				width  : 100%;
				height : 100%;
			}

			&[data-ui-state~="is__highlighted"] {
				@include prefix(box-shadow, "0 0 30px 0 rgba(0, 0, 0, 0.07), 0 0 4px 0 rgba(0, 0, 0, 0.04)" );		
			}
		}