[class^="form_"] {
	display     : flex;
	flex-wrap   : wrap;
	font-size   : 1rem;
	font-weight : 300;
}
	[class^="form-row_"] {
		display    : flex;
		flex       : 1 100%;
		margin-top : 8px;
	}
	[class^="form-label_"] {
		flex : 1;
	}
	[class^="form-field_"] {
		flex : 3;
		position    : relative;
	}
		[class^="form-field-input_"] {
			width       : 100%;
			border      : 0px;
			outline     : 0px;
			font-size   : 0.7rem;
			font-family : $font__family;
			@include prefix(border-radius, 4px);

			@include gridle_state(mobile) {
			    padding : 5px 17px;
			}
			@include gridle_state(tablet) {
			    padding : 6px 17px;
			}

			&[class$="_accent"] {
			    &::-webkit-input-placeholder {
			        color : $color_accent_placeholder;
			    }
			    &:-moz-placeholder           {
			        color : $color_accent_placeholder;
			    }
			    &::-moz-placeholder          {
			        color : $color_accent_placeholder;
			    }
			    &:-ms-input-placeholder      {
			        color : $color_accent_placeholder;
			    }
			}
		}