[class^="form_"] {
	display        : flex;
	flex-direction : column;
	flex-wrap      : wrap;
	font-size      : 1rem;
	font-weight    : 300;
}
	[class^="form-column_"] {
		display         : flex;
		flex-direction  : row;
		align-items     : flex-end;
		justify-content : space-around;
		flex-wrap       : wrap;
		[class^="form-column-column_"] {
			flex : 1 100%;
			@include gridle_state(laptop) {
				flex : 1 50%;
				&:nth-child(even) {
					padding-left : 10px;
				}
			}
		}
	}
	[class^="form-row_"] {
		display    : flex;
		flex       : 1 100%;
		margin-top : 8px;
	}
	[class^="form-title_"] {
		padding     : 12px 0px 6px 0px;
		font-size   : 1rem;
		font-weight : 300;
		color       : #151515;
	}
	[class^="form-label_"] {
		display     : block;
		padding     : 7px 0px 3px 0px;
		font-size   : 0.7rem;
		font-weight : 400;
		color       : #8F8F8F;
	}
	[class^="form-field_"] {
		flex : 3;
		position    : relative;
	}
		[class^="form-field-input_"] {
			width       : 100%;
			border      : 0px;
			outline     : 0px;
			font-size   : 0.7rem;
			font-family : $font__family;
			@include prefix(border-radius, 4px);

			@include gridle_state(mobile) {
			    padding : 5px 17px;
			}
			@include gridle_state(tablet) {
			    padding : 6px 17px;
			}

			&[class$="_accent"] {
			    &::-webkit-input-placeholder {
			        color : $color_accent_placeholder;
			    }
			    &:-moz-placeholder           {
			        color : $color_accent_placeholder;
			    }
			    &::-moz-placeholder          {
			        color : $color_accent_placeholder;
			    }
			    &:-ms-input-placeholder      {
			        color : $color_accent_placeholder;
			    }
			}
		}






[class^="dropdown_"] {
	position  : relative;
	display   : inline-block;
	max-width : 100%;
	@include prefix(border-radius, 3px);
	&:after {
		content    : " ";
		position   : absolute;
		top        : 50%;
		right      : 7px;
		width      : 0; 
		height     : 0; 
		margin-top : -2px;
	}
	&[class$="_accent"] {
		background-color: #e6e6e6;
		&:after {
			border-left  : 4px solid transparent;
			border-right : 4px solid transparent;
			border-top   : 5px solid #aaa;	
		}
	}
	&[class$="_primary"] {
		background-color: $color_primary_background;
		&:after {
			border-left  : 4px solid transparent;
			border-right : 4px solid transparent;
			border-top   : 5px solid $color_primary_text;	
		}
	}
}
	[class^="dropdown-select_"] {
		width       : 100%;
		padding     : 7px 24px 6px 14px;
		font-size   : 0.7rem;
		line-height : 0.8rem;
		font-weight : 400;
		font-family : $font__family;
		border      : none;
		cursor      : pointer;
		@include prefix(appearance, none);
		background-color: transparent;
		&:active,
		&:focus {
			outline : none;
			@include prefix(box-shadow, none);
		}
		&[class$="_accent"] {
			color : #151515;
		}
		&[class$="_primary"] {
			color : $color_primary_text;
		}
	}
