[class^="form_"] {
	display        : flex;
	flex-direction : column;
	flex-wrap      : wrap;
	font-size      : 1rem;
	font-weight    : 300;
}
	[class^="form-column_"] {
		display         : flex;
		flex-direction  : row;
		align-items     : flex-end;
		justify-content : space-around;
		flex-wrap       : wrap;
		[class^="form-column-column_"] {
			flex : 1 100%;
			@include gridle_state(laptop) {
				flex : 1 50%;
				&:nth-child(even) {
					padding-left : 10px;
				}
			}
		}
	}
	[class^="form-row_"] {
		display    : flex;
		flex       : 1 100%;
		margin-top : 8px;
	}
	[class^="form-title_"] {
		padding     : 12px 0px 6px 0px;
		font-size   : 1rem;
		font-weight : 300;
		color       : #151515;
	}
	[class^="form-label_"] {
		display     : block;
		padding     : 7px 0px 3px 0px;
		font-size   : 0.7rem;
		font-weight : 400;
		color       : #8F8F8F;
	}
	[class^="form-field_"] {
		flex : 3;
		position    : relative;
	}
		[class^="form-field-input_"] {
			width       : 100%;
			border      : 0px;
			outline     : 0px;
			font-size   : 0.7rem;
			font-family : $font__family;
			@include prefix(border-radius, 4px);

			@include gridle_state(mobile) {
			    padding : 5px 17px;
			}
			@include gridle_state(tablet) {
			    padding : 6px 17px;
			}

			&[class$="_accent"] {
			    &::-webkit-input-placeholder {
			        color : $color_accent_placeholder;
			    }
			    &:-moz-placeholder           {
			        color : $color_accent_placeholder;
			    }
			    &::-moz-placeholder          {
			        color : $color_accent_placeholder;
			    }
			    &:-ms-input-placeholder      {
			        color : $color_accent_placeholder;
			    }
			}
		}