[class^="header_"] {
	position  : relative;
	font-size : 1rem;
	&[data-ui-core~="inset__flush"] {
		padding : 0px;
	}
	&[data-ui-core~="inset__thin"] {
		
	}
	&[data-ui-core~="inset__thick"] {
		padding : 30px 40px;
	}

	&[data-ui-state~="is__stuck"] {
		&[data-js~="records__positionSticky"] {
			z-index    : 2;
			margin-top : 0px;
			@include gridle_state(desktop) {
				margin-top : -30px;
			}
		}
		&[data-js~="details__positionSticky"] {
			z-index    : 1;
			margin-top : -30px;
		}
	}

	> * {
		vertical-align : middle; 
	}


	&[class$="_outline"] {
		border-bottom : 1px solid rgba(255, 255, 255, 0.3);
	}
}
	[class^="header-row"] {
		&[data-ui-core~="content__multiple"] {
			display         : flex;
			flex-direction  : row;
			flex-wrap       : wrap;
			justify-content : space-between;
			align-items     : center;
			align-content   : space-around;
		}
		&[data-ui-core~="content__single"] {

		}

		&[data-ui-core~="align__right"] {
			text-align : right;
		}
		&[data-ui-core~="align__left"] {
			
		}

	}
	[class^="header-title_"] {
		display     : inline-block;
		font-size   : 1.6rem;
		font-weight : 300;
	}