$navHeight       : 50;
$half__navHeight : $navHeight/2; 

// for white menu
// $lightSurface  : #fff;
// $mediumSurface : #ccc;
// $darkSurface   : #e0e0e0;

// for solid color menu
// HBS real teal color : #4cc1bc;
$lightSurface  : #15b5b3;
$mediumSurface : darken( $lightSurface, 10% );
$darkSurface   : darken( $lightSurface, 20% );

*[data-ui-state~="adjusted__forNav"] {
	padding-top : $navHeight + px;
}


[class^="nav_"] {
	z-index     : 10;
	position    : fixed;
	top         : 0px;
	left        : 0px;
	width       : 100%;
	height      : $navHeight + px;
}


[class^="navbar_"] {
    z-index         : 2;
    position        : relative;
	display         : flex;
	height          : 100%;
	justify-content : space-between;
}
	[class^="navbar-left_"] {
		display      : flex;
		height       : 100%;
		padding-left : 35px;
		align-items  : center; 

		&[class$="_appsuite"] {
			flex         : 1;
			padding-left : 0px;
		}
	}
	[class^="navbar-center_"] {
		display     : flex;
		height      : 100%;
		align-items : center; 

		&[class$="_appsuite"] {
			flex      : 2;
			max-width : 650px;
		}
	}
	[class^="navbar-right_"] {
		display     : flex;
		height      : 100%;
		align-items : center; 

		&[class$="_HBS"] {
			padding-right : 25px;
		}
		&[class$="_app"] {
			padding-right : 20px;
		}
		&[class$="_appsuite"] {
			flex : 1;
		}
	}




	[class^="navbar-branding_"] {
		display     : flex;
		align-items : center;
	}
		[class^="navbar-branding-icon_"] {
			font-size     : 1.6rem;
			line-height   : 1.6rem;
			padding-right : 10px; 

			
			&[class$="_HBS"] {
				padding-left : 2px;
				color        : $color__brand;
			}
			&[class$="_app"] {
				color : #fff;
				@include prefix( perspective, 200 );
				&[data-ui-state~="is__rotating"] {
					> div {
						@include prefix( animation, rotate__logo 2.5s infinite );
					}
				}
				@keyframes rotate__logo {
					0% {
						@include prefix( transform, rotateX(0deg) rotateY(0deg) );
					}
					25% {
						@include prefix( transform, rotateX(180deg) rotateY(0deg) );
					}
					50% {
						@include prefix( transform, rotateX(180deg) rotateY(180deg) );
					}
					75% {
						@include prefix( transform, rotateX(360deg) rotateY(180deg) );
					}
					100% {
						@include prefix( transform, rotateX(360deg) rotateY(360deg) );
					}
				}
			}
			&[class$="_appsuite"] {
				font-size   : 1.8rem;
				line-height : 1.8rem;
				color       : $color__brand;
			}
		}
		[class^="navbar-branding-text_"] {
			font-family    : "Open Sans", sans-serif;
			text-transform : uppercase;

			&[class$="_HBS"] {
				font-size   : .82rem;
				line-height : .82rem;
				font-weight : 400;
				color       : #999999;
			}
			&[class$="_app"] {
				font-size   : 1rem;
				line-height : 1rem;
				font-weight : 300;
				color       : #ffffff;
			}
			&[class$="_appsuite"] {
				font-size   : .82rem;
				line-height : .82rem;
				font-weight : 400;
				color       : $color__brand;
			}
		}