$navHeight       : 50;
$half__navHeight : $navHeight/2; 

// for white menu
// $lightSurface  : #fff;
// $mediumSurface : #ccc;
// $darkSurface   : #e0e0e0;

// for solid color menu
// HBS real teal color : #4cc1bc;
$lightSurface  : #15b5b3;
$mediumSurface : darken( $lightSurface, 10% );
$darkSurface   : darken( $lightSurface, 20% );

*[data-ui-state~="adjusted__forNav"] {
	padding-top : $navHeight + px;
}


[class^="nav_"] {
	z-index     : 10;
	position    : fixed;
	top         : 0px;
	left        : 0px;
	width       : 100%;
	height      : $navHeight + px;
}


[class^="navbar_"] {
    position        : relative;
	display         : flex;
	justify-content : space-between;
	align-items     : center; 
	flex-flow       : row wrap;

	&[data-ui-settings~="mount__thin"] {

	}
	&[data-ui-settings~="mount__moderate"] {
		
	}
	&[data-ui-settings~="mount__thick"] {
		@include gridle_state(mobile) {
			padding : 25px 35px 28px 35px;
		}
		@include gridle_state(tablet) {
			padding : 30px 40px;
		}
	}


	&[class$="_HBS"],&[class$="_app"],&[class$="_appsuite"] {
		height : 100%;
	}
}
	[class^="navbar-left_"] {
		z-index      : 1;
		display      : flex;
		height       : 100%;
		padding-left : 0px;
		align-items  : center; 

		&[class$="_HBS"],&[class$="_app"] {
			@include gridle_state(mobile) {
				padding-left : 25px;
			}
			@include gridle_state(tablet) {
				padding-left : 35px;
			}
		}

		&[class$="_appsuite"] {
			flex         : 1;
			padding-left : 0px;
		}
	}
	[class^="navbar-center_"] {
		z-index     : 1;
		display     : flex;
		height      : 100%;
		align-items : center; 

		&[class$="_appsuite"] {
			max-width : 650px;
			@include gridle_state(mobile) {
				flex : 4;
			}
			@include gridle_state(tablet) {
				flex : 2;
			}
		}
	}
	[class^="navbar-right_"] {
		z-index     : 1;
		display     : flex;
		height      : 100%;
		align-items : center; 

		&[data-ui-settings~="row__collapse"] {
			@include gridle_state(mobile) {
    			flex : 1 100%;
			}
			@include gridle_state(tablet) {
				flex : none;
			}
		}

		&[class$="_HBS"],&[class$="_app"] {
			padding-right : 25px;
		}
		&[class$="_appsuite"] {
			flex : 1;
		}
	}
	[class^="navbar-row_"] {
    	flex        : 1 100%;
    	@include gridle_state(mobile) {
			padding-top : 8px;
    	}
    	@include gridle_state(tablet) {
			padding-top : 15px;
    	}
	}



	[class^="navbar-back_"] {
		display         : flex;
		align-items     : center;
		justify-content : center;
		padding         : 8px 17px 8px 0px;
		border          : 0px;
		outline         : none;
		cursor          : pointer;

		@include gridle_state(mobile) {
			display : flex;
		}
		@include gridle_state(desktop) {
			display : none;
		}

		&:hover {
			[class^="navbar-back-icon_"] {
				@include prefix( transform, translateX(-6px) );
			}
		}
		&[class$="_HBS"],&[class$="_app"],&[class$="_appsuite"] {
			display    : flex;
			padding    : 8px 17px;
			background : transparent;
			color      : $color_mute_text;
		}
	}
		[class^="navbar-back-icon_"] {
			position    : relative;
			top   	    : -1px;
			font-size   : 1rem;
			line-height : 1rem;			
			@include gridle_state(mobile) {
				padding-right : 3px;
			}
			@include gridle_state(tablet) {
				padding-right : 8px;
			}

			@include prefix(transition, transform 0.46s cubic-bezier(.43,0,0,1) ); 
			-webkit-transition : -webkit-transform 0.46s cubic-bezier(.43,0,0,1); 

			&:before {
				content     : '\e804';
				font-family : "HBS-modern";
			}
		}
		[class^="navbar-back-text_"] {
			font-size   : 0.8rem;
			line-height : 1rem; 
			font-weight : 300;
			@include gridle_state(mobile) {
				display : none;
			}
			@include gridle_state(tablet) {
				display : block;
			}
		}
	[class^="navbar-title_"] {
		display     : flex;
		align-items : center;

		&[class$="_appsuite"] {
			@include gridle_state(mobile) {
				display : none;
			}
			@include gridle_state(tablet) {
				display : flex;	
			}
		}
	}
		[class^="navbar-title-icon_"] {
			font-size     : 1.6rem;
			line-height   : 1.6rem;
			padding-right : 10px; 

			
			&[class$="_HBS"] {
				padding-left : 2px;
				color        : $color__brand;
			}
			&[class$="_app"] {
				color : #fff;
				@include prefix( perspective, 200 );
				&[data-ui-state~="is__rotating"] {
					> div {
						@include prefix( animation, rotate__logo 2.5s infinite );
					}
				}
				@keyframes rotate__logo {
					0% {
						@include prefix( transform, rotateX(0deg) rotateY(0deg) );
					}
					25% {
						@include prefix( transform, rotateX(180deg) rotateY(0deg) );
					}
					50% {
						@include prefix( transform, rotateX(180deg) rotateY(180deg) );
					}
					75% {
						@include prefix( transform, rotateX(360deg) rotateY(180deg) );
					}
					100% {
						@include prefix( transform, rotateX(360deg) rotateY(360deg) );
					}
				}
			}
			&[class$="_appsuite"] {
				font-size   : 1.8rem;
				line-height : 1.8rem;
				color       : $color__brand;
			}
		}

		[class^="navbar-title-text_"] {
			font-family : "Open Sans", sans-serif;
			font-weight : 300;
			@include gridle_state(below__phablet) {
				white-space   : nowrap;
				text-overflow : ellipsis;
				overflow-x    : hidden;
				max-width     : 150px;
			}
			@include gridle_state(mobile) {
				font-size     : 1.3rem;
				line-height   : 1.3rem;
			}
			@include gridle_state(tablet) {
				font-size   : 1.6rem;
				line-height : 1.6rem;
			}

			&[class$="_HBS"] {
				text-transform : uppercase;
				font-size      : 0.82rem;
				line-height    : 0.82rem;
				font-weight    : 400;
				color          : #999999;
			}
			&[class$="_app"] {
				text-transform : uppercase;
				font-size      : 1rem;
				line-height    : 1rem;
				font-weight    : 300;
				color          : #ffffff;
			}
			&[class$="_appsuite"] {
				text-transform : uppercase;
				font-size      : 0.82rem;
				line-height    : 0.82rem;
				font-weight    : 400;
				color          : $color__brand;
			}
		}
			[class^="navbar-title-text-abbreviated_"] {
				display : block;
				@include gridle_state(tablet) {
					display : none;
				}
			}

			[class^="navbar-title-text-extended_"] {
				display : none;
				@include gridle_state(tablet) {
					display : block;
				}
				&[class$="_appsuite"] {
					display : none;
					@include gridle_state(laptop) {
						display : block;
					}
				}
			}