[class^="notification_"] {
    height          : 100%;
    display         : flex;
    flex-direction  : row;
    flex-wrap       : nowrap;
    align-items     : center;
    justify-content : space-between;
}
	[class^="notification-content_"] {
		padding-left : 35px;
	}
		[class^="notification-content-message_"] {
			display     : flex;
			align-items : center;
		}
			[class^="notification-content-message-icon_"] {
				font-size     : 1.45rem;
				line-height   : 1.45rem;

				@include gridle_state( mobile ) {
					padding-right : 10px;
				}
				@include gridle_state( tablet ) {
					padding-right : 15px;
				}

				color         : white;
			}
			[class^="notification-content-message-text_"] {
				font-family : "Open Sans", sans-serif;
				font-weight : 300;
				color       : white;

				@include gridle_state( mobile ) {
					font-size   : 0.65rem;
					line-height : 0.9rem;
				}
				@include gridle_state( tablet ) {
					font-size   : 0.75rem;
					line-height : 0.9rem;
				}
				@include gridle_state( laptop ) {
					font-size   : 0.85rem;
					line-height : 0.85rem;
				}
			}
	[class^="notification-close_"] {
		display : flex;
		padding : 5px 23px 5px 5px;
		cursor  : pointer;
    	&:before {
			font-family : "hbs-modern";
			content     : '\e803' !important;
			margin-top  : 2px;
			font-size   : 0.6rem;
			line-height : 0.6rem;
			opacity     : 0.5;
			color       : #ffffff;
			@include prefix( transform-origin, center center );
			@include prefix(transition, transform 0.46s cubic-bezier(.43,0,0,1) 0s, opacity 0.46s cubic-bezier(.43,0,0,1) 0s !important); 
			-webkit-transition : -webkit-transform 0.46s cubic-bezier(.43,0,0,1) 0s, opacity 0.46s cubic-bezier(.43,0,0,1) 0s !important; 
    	}
		&:hover {
			&:before {
				opacity : 1;
				@include prefix( transform, scale(1.2) rotate(360deg) );
			}
		}
	}
	[class^="notification-backing_"] {
		z-index  : -1;
		position : absolute;
		left     : 0px;
		top      : 0px;
		width    : 100%;
		height   : 100%;

		&[data-ui-state~="is__animating"] {
			@include prefix( transition, opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) );
		}

		&[data-ui-state~="fade__out"] {
			opacity : 0;
		}	
	}





























.exclude {
	position : relative;
	width    : 100%;
	height   : 0px;
	overflow : hidden;

	background : #F2C248;
}
	.exclude-content {
		padding    : 15px 40px;
		overflow   : hidden;

		background : #F2C248;
		color      : white;
		@include prefix( transition, "transform .46s cubic-bezier(.43,0,0,1), opacity .46s cubic-bezier(.43,0,0,1)" );
	}
	.exclude-content-header {
		display     : flex;
		align-items : center;
	}
	.exclude-content-header-icon {
		display : inline-block;
		width   : 30px;
		height  : 30px;
		padding : 5px 9px 7px 9px;
		@include prefix(border-radius, 4px);
		background : white;
		color      : #F2C248;
		> div {
			position    : relative;
			margin-left : -1px;
			margin-top  : -1px;
			font-size   : 0.9rem;
		}
	}
	.exclude-content-header-title {
		display        : inline-block;
		margin-left    : 3px;
		font-size      : 1.1rem;
		font-weight    : 300;
		vertical-align : middle;
	}
	.exclude-content-header-dates {
		display     : inline-block;
		margin-top  : 5px;
		margin-left : 10px;
		font-size   : 0.75rem;
		font-weight : 300;
	}
		.exclude-dates-input {
			width   : 90px;
			padding : 6px 10px;
			border  : 1px solid white;
			outline : none;
			@include prefix( border-radius, 4px );

			background : transparent;
			color      : white;
				&::-webkit-input-placeholder {
					font-weight : 300;
					font-style  : italic;
					color       : rgba(255,255,255,0.7);
				}
				&::-moz-placeholder { /* Firefox 18- */
					font-weight : 300;
					font-style  : italic;
					color       : rgba(255,255,255,0.7);
				}
				&::-moz-placeholder {  /* Firefox 19+ */
					font-weight : 300;
					font-style  : italic;
					color       : rgba(255,255,255,0.7);
				}
				&::-ms-input-placeholder {  
					font-weight : 300;
					font-style  : italic;
					color       : rgba(255,255,255,0.7);
				}
		}
	.exclude-content-header-controls {
		position : absolute;
		top      : 15px;
		right    : 40px;
		display  : flex;
	}
	.exclude-content-note {
		position : relative;
		overflow : hidden;
		will-change : height;

		&[data-ui-state~="is__collapsed"] {
			height : 0px;
		}
	}
		.exclude-note-input {
			width          : 100%;
			padding-bottom : 3px;
			margin-top     : 20px;
			border         : 0px;
			border-bottom  : 1px solid white;
			resize         : none;
			overflow       : auto;
			outline        : none;
			cursor         : text;
			font-family    : "Open Sans", sans-serif;
			font-size      : 0.8rem;
			font-weight    : 300;
			@include prefix( user-select, text );
			background: transparent;

			&:empty:before {
				content     : attr(placeholder);
				display     : block; /* For Firefox */
				font-family : $font__family;
				font-weight : 300;
				font-size   : 0.8rem;
				line-height : 0.8rem; 
				font-style  : italic;
				color       : rgba(255,255,255,0.7);
			}
		}