[class^="offCanvasPanel_"] {
    z-index    : 100;
    position   : fixed;
    top        : 0px;
    width      : 350px;
    height     : 100%;
    @include prefix( box-shadow, 0 0 22px 0 rgba(0, 0, 0, 0.18) );

    &[data-ui-settings~="side__right"] {
    	right : 0px;
    }


    &[class$="_dark"] {
    	background : rgba(47, 50, 56, 0.96);
    	color      : #ffffff;
    }

}