[class^="panels_"] {
	position   : relative;
	width      : 100%;
	height     : 100%;
    overflow-x : hidden;
    overflow-y : auto;
    text-align : center; 
	@include prefix(perspective,1000);
}
	[class^="panels-panel_"] {
		box-sizing : border-box;
		top        : 0px;
		height     : 100%;
		overflow-y : auto;
		display    : none;
		@include prefix(transform-style, preserve-3d);
		@include prefix(perspective, 1000);



		// SUBCLASSES
		&[class$="_default"] {
			background : #eee;
		}
		&[class$="_light"] {
			z-index    : 2; 
			> [class^="panels-panel-content_"] {
				background : #fff;
			}
		}
		&[class$="_dark"] {
			z-index    : 2; 
			background : #151515;
		}


		// MODES
		&[data-ui-core~="mode__flush"] {
			position : absolute;
			padding  : 0px;

			> [class^="panels-panel-content_"] {
				height : 100%;
			}
		}
		&[data-ui-core~="mode__card"] {
			position : absolute;
			@include gridle_state(mobile) {
				padding : 0px;
				> [class^="panels-panel-notification_"] {
					width         : 100%;
					padding       : 15px 50px;
					margin-bottom : 15px;
					@include prefix(box-shadow,0 0 11px 0 rgba(0, 0, 0, 0.05));
					text-align    : left;

					background    : #F2C248;
					color         : white;					
				}
				> [class^="panels-panel-content_"] {
		            padding            : 30px 0px;
					background         : white;
					@include prefix(box-shadow,0 0 11px 0 rgba(0, 0, 0, 0.05)); 					
				}
			}
			@include gridle_state(phablet) {
				padding : 30px 12px 15px 12px;
				&:nth-child(1) {
					padding : 30px 12px 15px 30px;
				}
				&:nth-last-child(1) {
					padding : 30px 30px 15px 12px !important;
				}

				> [class^="panels-panel-content_"] {
		            padding            : 30px 0px;
					background         : white;
					@include prefix(box-shadow,0 0 11px 0 rgba(0, 0, 0, 0.05));					
				}
			}
		}
		&[data-ui-core~="mode__modal"] {
			z-index        : 2;
			position       : relative;
			left           : 0px;
			height         : 90%;
			top            : 5%;
			vertical-align : middle;
			text-align     : center;
			padding        : 0px;
			@include prefix(box-shadow, 0 0 25px 0 rgba(0,0,0,0.2));

			> [class^="panels-panel-content_"] {
				height : 100%;
			}
		}

		&[data-ui-state~="is__active"],&[data-ui-state~="was__active"] {
			display : inline-block;
		}

		// &[data-ui-state~="animate__off"] {
		// 	@include prefix(transition, transform 0s); 
		// 	-webkit-transition : -webkit-transform 0s;
		// 	> [class^="panels-panel-content_"], > [class^="panels-panel-notification_"] {
		// 		@include prefix(transition, transform 0s); 
		// 		-webkit-transition : -webkit-transform 0s; 
		// 		> [class^="fader"] {
		// 			@include prefix(transition, "visibility 0s, opacity 0s");
		// 		}
		// 	}
		// }
		// &[data-ui-state~="animate__in"] {
		// 	@include prefix(transition, transform 0.27s cubic-bezier(.19,1,.22,.97) 0.32s); 
		// 	-webkit-transition : -webkit-transform 0.27s cubic-bezier(.19,1,.22,.97) 0.32s; 
		// 	//@include prefix(transition, "transform 0.23s ease-out 0.46s, left 0.27s cubic-bezier(.19,1,.22,.97) 0.32s, top 0.27s cubic-bezier(.19,1,.22,.97) 0.32s");
		// 	> [class^="panels-panel-content_"], > [class^="panels-panel-notification_"] {
		// 		@include prefix(transition, transform 0.23s ease-out 0.46s);
		// 		-webkit-transition : -webkit-transform 0.23s ease-out 0.46s;
		// 		> [class^="fader"] {
		// 			@include prefix(transition, "visibility 1.3s, opacity 0.3s ease-in 0.38s");
		// 		}
		// 	}
		// }
		// &[data-ui-state~="animate__out"] {
		// 	@include prefix(transition, transform 0.4s cubic-bezier(.43,0,0,1) 0.19s); 
		// 	-webkit-transition : -webkit-transform 0.4s cubic-bezier(.43,0,0,1) 0.19s; 
		// 	//@include prefix(transition, "transform 0.46s cubic-bezier(.43,0,0,1) 0s, left 0.3s cubic-bezier(.43,0,0,1) 0.15s, top 0.4s cubic-bezier(.43,0,0,1) 0.19s"); 
		// 	> [class^="panels-panel-content_"], > [class^="panels-panel-notification_"] {
		// 		@include prefix(transition, transform 0.46s cubic-bezier(.43,0,0,1) 0s); 
		// 		-webkit-transition : -webkit-transform 0.46s cubic-bezier(.43,0,0,1) 0s; 
		// 		> [class^="fader"] {
		// 			@include prefix(transition, "visibility 0s, opacity 0.3s ease-out 0.09s");
		// 		}
		// 	}
		// }



		@for $i from 0 through 12 {
			@if $i > 1 {
				@if $i == 4 {
					&[data-ui-core~="size__#{$i}"],&[data-ui-core~="size__small"] {
						width : gridle_get_column_width( $i );
					}		
					&[data-ui-core~="position__#{$i}"],&[data-ui-core~="position__middle"],&[data-ui-state~="slide-to__grid-#{$i}"] {
						left : gridle_get_column_width( $i );
					}			
					&[data-ui-animate~="slide-to__grid-#{$i}"] {
						left : gridle_get_column_width( $i );
						@include prefix(transition, left 0.27s cubic-bezier(.19,1,.22,.97) 0.32s); 
						[class^="fader"] {
							@include prefix(transition, "visibility 1.3s, background 0.3s ease-in 0.38s");
						}
					}	
				} @else if $i == 8 {
					&[data-ui-core~="size__#{$i}"],&[data-ui-core~="size__medium"] {
						width : gridle_get_column_width( $i );
					}	
					&[data-ui-core~="position__#{$i}"],&[data-ui-core~="position__right"],&[data-ui-state~="slide-to__grid-#{$i}"] {
						left : gridle_get_column_width( $i );
					}
					&[data-ui-animate~="slide-to__grid-#{$i}"] {
						left : gridle_get_column_width( $i );
						@include prefix(transition, left 0.27s cubic-bezier(.19,1,.22,.97) 0.32s); 
						[class^="fader"] {
							@include prefix(transition, "visibility 1.3s, background 0.3s ease-in 0.38s");
						}
					}
				} @else if $i == 12 {
					&[data-ui-core~="size__#{$i}"],&[data-ui-core~="size__large"] {
						width : gridle_get_column_width( $i );
					}	
				} @else {					
					&[data-ui-core~="size__#{$i}"] {
						width : gridle_get_column_width( $i );
					}
					&[data-ui-core~="position__#{$i}"],&[data-ui-state~="slide-to__grid-#{$i}"] {
						left : gridle_get_column_width( $i );
					}
					&[data-ui-animate~="slide-to__grid-#{$i}"] {
						left : gridle_get_column_width( $i );
						@include prefix(transition, left 0.27s cubic-bezier(.19,1,.22,.97) 0.32s); 
						[class^="fader"] {
							@include prefix(transition, "visibility 1.3s, background 0.3s ease-in 0.38s");
						}
					}
				}
			} @else {
				&[data-ui-core~="position__#{$i}"],&[data-ui-core~="position__left"],&[data-ui-state~="slide-to__grid-#{$i}"],&[data-ui-animate~="slide-to__grid-#{$i}"] {
					left : #{$i}px;
				}				
				&[data-ui-animate~="slide-to__grid-#{$i}"] {
					@include prefix(transition, left 0.27s cubic-bezier(.19,1,.22,.97) 0.32s); 
					[class^="fader"] {
						@include prefix(transition, "visibility 1.3s, background 0.3s ease-in 0.38s");
					}
				}
			}
		}



		// @mixin fader__out {
		// 	> [class^="fader"] {
		// 		visibility : visible;  
		// 		opacity    : 0.5;
		// 	}
		// }
		// @mixin fader__in {
		// 	> [class^="fader"] {
		// 		visibility : hidden;  
		// 		opacity    : 0;
		// 	}		
		// }


		// &[data-ui-state~="scale__out"] {
		// 	> [class^="panels-panel-content_"], > [class^="panels-panel-notification_"] {
		// 		@include prefix(transform, scale(0.8));
		// 		@include fader__out;
		// 	}
		// }
		// &[data-ui-state~="scale__in"] {
		// 	> [class^="panels-panel-content_"], > [class^="panels-panel-notification_"] {
		// 		@include prefix(transform, scale(1));
		// 		@include fader__in;
		// 	}
		// }


		// &[data-ui-state~="rotate__out-right"] {
		// 	> [class^="panels-panel-content_"], > [class^="panels-panel-notification_"] {
		// 		transform-origin : top center;
		// 		@include prefix(transform, rotateY(15deg));
		// 		@include fader__out;
		// 	}
		// 	&[data-ui-state~="scale__out"] {
		// 		> [class^="panels-panel-content_"], > [class^="panels-panel-notification_"] {
		// 			transform-origin : top center;
		// 			@include prefix(transform, rotateY(15deg) scale(0.8));
		// 			@include fader__out;
		// 		}
		// 	}
		// }
		// &[data-ui-state~="rotate__in-right"] {
		// 	> [class^="panels-panel-content_"], > [class^="panels-panel-notification_"] {
		// 		transform-origin : top center;
		// 		@include prefix(transform, rotateY(0deg));
		// 		@include fader__in;
		// 	}
		// 	&[data-ui-state~="scale__in"] {
		// 		> [class^="panels-panel-content_"], > [class^="panels-panel-notification_"] {
		// 			transform-origin : top center;
		// 			@include prefix(transform, rotateY(0deg) scale(1));
		// 			@include fader__in;
		// 		}
		// 	}
		// }


		// &[data-ui-state~="rotate__out-left"] {
		// 	> [class^="panels-panel-content_"], > [class^="panels-panel-notification_"] {
		// 		transform-origin : top center;
		// 		@include prefix(transform, rotateY(-15deg));
		// 		@include fader__out;
		// 	}
		// 	&[data-ui-state~="scale__out"] {
		// 		> [class^="panels-panel-content_"], > [class^="panels-panel-notification_"] {
		// 			transform-origin : top center;
		// 			@include prefix(transform, rotateY(-15deg) scale(0.8));
		// 			@include fader__out;
		// 		}
		// 	}
		// }
		// &[data-ui-state~="rotate__in-left"] {
		// 	> [class^="panels-panel-content_"], > [class^="panels-panel-notification_"] {
		// 		transform-origin : top center;
		// 		@include prefix( transform, rotateY(0deg) );
		// 		@include fader__in;
		// 	}
		// 	&[data-ui-state~="scale__in"] {
		// 		> [class^="panels-panel-content_"], > [class^="panels-panel-notification_"] {
		// 			transform-origin : top center;
		// 			@include prefix(transform, rotateY(0deg) scale(1));
		// 			@include fader__in;
		// 		}
		// 	}
		// }


		// &[data-ui-state~="rotate__out-top"] {
		// 	> [class^="panels-panel-content_"], > [class^="panels-panel-notification_"] {
		// 		transform-origin : bottom;
		// 		@include prefix( transform, rotateX(15deg) );
		// 		@include fader__out;
		// 	}
		// 	&[data-ui-state~="scale__out"] {
		// 		> [class^="panels-panel-content_"] {
		// 			transform-origin : bottom;
		// 			@include prefix( transform, rotateX(15deg) scale(0.8) );
		// 			@include fader__out;
		// 		}
		// 	}
		// }
		// &[data-ui-state~="rotate__in-top"] {
		// 	> [class^="panels-panel-content_"], > [class^="panels-panel-notification_"] {
		// 		transform-origin : bottom;
		// 		@include prefix( transform, rotateX(0deg) );
		// 		@include fader__in;
		// 	}
		// 	&[data-ui-state~="scale__in"] {
		// 		> [class^="panels-panel-content_"], > [class^="panels-panel-notification_"] {
		// 			transform-origin : bottom;
		// 			@include prefix( transform, rotateX(0deg) scale(1) );
		// 			@include fader__in;
		// 		}
		// 	}
		// }


		// &[data-ui-state~="rotate__out-bottom"] {
		// 	> [class^="panels-panel-content_"], > [class^="panels-panel-notification_"] {
		// 		transform-origin : top;
		// 		@include prefix( transform, rotateX(-15deg) );
		// 		@include fader__out;
		// 	}
		// 	&[data-ui-state~="scale__out"] {
		// 		> [class^="panels-panel-content_"] {
		// 			transform-origin : top;
		// 			@include prefix( transform, rotateX(-15deg) scale(0.8) );
		// 			@include fader__out;
		// 		}
		// 	}
		// }
		// &[data-ui-state~="rotate__in-bottom"] {
		// 	> [class^="panels-panel-content_"], > [class^="panels-panel-notification_"] {
		// 		transform-origin : top;
		// 		@include prefix( transform, rotateX(0deg) );
		// 		@include fader__in;
		// 	}
		// 	&[data-ui-state~="scale__in"] {
		// 		> [class^="panels-panel-content_"], > [class^="panels-panel-notification_"] {
		// 			transform-origin : top;
		// 			@include prefix( transform, rotateX(0deg) scale(1) );
		// 			@include fader__in;
		// 		}
		// 	}
		// }


		// &[data-ui-state~="move__out-left"] {
		// 	@include prefix(transform, translateX(-120%));
		// 	//left : -120%;
		// }
		// &[data-ui-state~="move__out-right"] {
		// 	@include prefix(transform, translateX(120%));
		// 	//left : 120%;
		// }
		// &[data-ui-state~="move__out-top"] {
		// 	@include prefix(transform, translateY(-120%));
		// 	//top : -120%;
		// }
		// &[data-ui-state~="move__out-bottom"] {
		// 	@include prefix(transform, translateY(120%));
		// 	//top : 120%;
		// }
	}
		[class^="panels-panel-notification_"] {
			position : relative; 
			[class^="fader"] {
				position   : absolute;
				z-index    : 10;
				top        : 0px;
				left       : 0px;
				width      : 100%;
				height     : 100%;
				opacity    : 0;
				visibility : hidden; 
				@include prefix(transition, all .3s ease-out);
				&:before {
					content    : " ";
					position   : absolute;
					width      : 100%;
					height     : 100%;
					background : #000000; 
					opacity    : 0.5;
				}
			}			
		}
		[class^="panels-panel-content_"] {
			position   : relative;
			text-align : left; 
		}
			[class^="fader"] {
				position   : absolute;
				z-index    : 10;
				top        : 0px;
				left       : 0px;
				width      : 100%;
				height     : 100%;
				visibility : hidden; 
				opacity    : 0;
				@include prefix(transition, all .3s ease-out);
				&:before {
					content    : " ";
					position   : absolute;
					width      : 100%;
					height     : 100%;
					background : #000000; 
					opacity    : 0.5;
				}
			}
			[class^="panels-panel-content-header_"] {
				display   : block;
				padding   : 0px 50px;
				font-size : 21px;
				font-size : 1.32rem;
				h2,div {
					vertical-align : middle;
				}
			}
				[class^="panels-panel-content-header-primary_"] {
					position       : relative;
					display        : table-cell;
					vertical-align : middle; 
					width  		   : 100%;
				}
				[class^="panels-panel-content-header-secondary_"] {
					position       : relative;
					display        : table-cell;
					vertical-align : middle; 
					> div {
						display      : table-cell;
						padding-left : 5px;
					}
				}
				[class^="panels-panel-content-header-search_"] {
					@include gridle_state(mobile) {
						width   : 100%;
						padding : 16px 32px 0px 32px;
					}
					@include gridle_state(tablet) {
						width   : 100%;
						padding : 10px 50px 0px 50px;
					}
				}