// Responsive table CSS  ** START **

[class^="table_"][data-ui-settings~="mode__responsive"] {
	width         : 100%;
	margin-bottom : 1.5em;
	* {
		@include prefix( box-sizing,border-box );
	 
		&:before,&:after {
			@include prefix( box-sizing,border-box );
		}
	}
  
	thead {
		// Accessibly hide <thead> on narrow viewports
		position : absolute;
		clip     : rect(1px 1px 1px 1px); /* IE6, IE7 */
		clip     : rect(1px, 1px, 1px, 1px);
		height   : 1px; 
		width    : 1px; 
		padding  : 0;
		border   : 0;
		overflow : hidden;
    
		@include gridle_state(tablet) {
			// Unhide <thead> on wide viewports
			position : relative;
			clip     : auto;
			height   : auto;
			width    : auto;
			overflow : auto;
		}
	}
  
	// Set these items to display: block for narrow viewports
	tbody,tr, th, td {
		display     : block;
		white-space : normal;
	}
  
	tr {   
		@include gridle_state(tablet) {
			// Undo display: block 
			display : table-row; 
		}
	}
  
	th, td {
		@include gridle_state(tablet) {
			// Undo display: block 
			display : table-cell;
		}
	}
  
	tbody {
		@include gridle_state(tablet) {
			// Undo display: block 
			display : table-row-group; 
		}

		tr {
			@include gridle_state(mobile) {
				padding    : 20px 0px;
				border-top : 1px solid rgba(0,0,0,0.08);
			}
			@include gridle_state(tablet) {
				// Undo display: block 
				display      : table-row;
			}

			&:last-of-type {
				margin-bottom : 0; 
			}
		}
    
		th[data-ui-settings~="scope__row"] {
			background-color : rgba(29,150,178,1);
			color            : white;

			@include gridle_state(tablet) {
				text-align       : left;
			}
		}

		td {
			text-align : right;

			@include gridle_state(tablet) {
				text-align : left; 
			}
		}

		td[data-type=currency] {
			text-align : right; 
		}

		td[data-table-title]:before {
			content   : attr(data-table-title);
			float     : left;
			font-size : 0.8rem;
			color 	  : rgba(94,93,82,.75);

			@include gridle_state(tablet) {
				// Don’t show data-title labels 
				content : none; 
			}
		} 
	}
}

// Responsive table CSS  ** FINISH **





















[class^="table_"] {
	width          : 100%;
	border         : 0px;
	border-spacing : 0px;
	&.bt {
		[class^="table-body-row-cell_"] {
            @include gridle_state(mobile) {
            	padding : 7px 50px;
                &:nth-child(1) {
                	padding-top : 30px;
                }
                &:nth-last-child(1) {
                	padding-bottom : 30px;
                }
            }			
		}
		[class^="table-body-row-cell_"]:nth-last-child(1) {
			@include gridle_state(mobile) {
				border-bottom : 1px solid rgba(0,0,0,0.08);
			}	
			@include gridle_state(tablet) {
				border-top : 0px solid rgba(0,0,0,0.08);
			}	
		}
	}
}
	[class^="table-head_"] {}
		[class^="table-head-row_"] {}
			[class^="table-head-row-header_"] {
				font-weight   : 400;
				text-align    : left;
				border-bottom : 1px solid #f2f2f2;
				&[class$="_inverted"] {
					color 		  : rgba(255,255,255,0.6);
					border-bottom : 1px solid rgba(255, 255, 255, 0.3);
				}
				&.sort,&[data-ui-state~="is__sortable"] {
					&:before {
						position    : relative;
						top         : -2px;
						margin      : 0px 8px 0px 0px;
						content     : "\e813";
						font-family : "hbs-modern";   
						font-size   : 10px;
						font-size   : 0.65rem;
					}
					&.asc {
						color : #4cc1bc;
						&:before {
							content : "\e814";
						}
					}
					&.desc {
						color : #4cc1bc;
						&:before {
							content : "\e815";
						}
					}
				}
				&[data-ui-state~="is__sortable"] {
					&:before {
						position    : relative;
						top         : -2px;
						margin      : 0px 8px 0px 0px;
						content     : "\e813";
						font-family : "hbs-modern";   
						font-size   : 10px;
						font-size   : 0.65rem;
					}
				}
				&[data-ui-state~="is__sortable-asc"] {
					color : #4cc1bc;
					&:before {
						position    : relative;
						top         : -2px;
						margin      : 0px 8px 0px 0px;
						content     : "\e814";
						font-family : "hbs-modern";   
						font-size   : 10px;
						font-size   : 0.65rem;
					}
				}
				&[data-ui-state~="is__sortable-desc"] {
					color : #4cc1bc;
					&:before {
						position    : relative;
						top         : -2px;
						margin      : 0px 8px 0px 0px;
						content     : "\e815";
						font-family : "hbs-modern";   
						font-size   : 10px;
						font-size   : 0.65rem;
					}
				}
				&[data-ui-settings~="size__small"] {
					padding   : 6px 20px 15px 20px;
					font-size : 14px;
					font-size : 1rem;
				}
				&[data-ui-settings~="size__large"] {
					padding   : 9px 50px 20px 50px;
					font-size : 14px;
					font-size : 1.1rem;
				}
			}
	[class^="table-body_"] {
		&[data-ui-state~="is__focused"] {
			[class^="table-body-row_"] {
				&[data-ui-state~="is__highlighted"] {
					background  : #4CC1BC;
					color       : #ffffff;
					@include prefix( text-shadow, none );
				}
			}
		}
	}
		[class^="table-body-row_"] {
			background : transparent;
			color      : #151515;
			cursor     : pointer;

			[class$="_inverted"] {
				color : #ffffff;
				cursor : auto;
			}
			&[data-ui-state~="is__selected"] {
				background : #F5F3F3 !important;
				color      : #4cc1bc !important;
			}
			&[data-ui-state~="is__highlighted"] {
				background  : rgba(135, 186, 197, 0.33);
				color       : rgb(255, 255, 255);
				@include prefix( text-shadow, 0 0 17px rgba(0,0,0,0.1) );
			}

		}		
			[class^="table-body-row-header_"] {
				font-weight : 400;
				text-align  : left;
				&[data-ui-settings~="size__small"] {
					padding   : 6px 20px;;
					font-size : 12px;
					font-size : 1rem;
				}
				&[data-ui-settings~="size__large"] {
					padding   : 11px 50px;;
					font-size : 12px;
					font-size : 0.9rem;
				}
				&[class$="_inverted"] {
					color : rgba(255,255,255,0.6);
				}
			}
			[class^="table-body-row-cell_"] {
				font-weight : 300;
                @include prefix(text-stroke-width, 0.15px);
				&[data-ui-settings~="size__small"] {
					padding   : 11px 20px;;
					font-size : 12px;
					font-size : 0.8rem;
				}
				&[data-ui-settings~="size__large"] {
					padding   : 11px 50px;;
					font-size : 12px;
					font-size : 0.9rem;
				}
				&[class$="_inverted"] {
					color : #ffffff;
				}
			}
