// Responsive table CSS  ** START **

[class^="table_"][data-ui-settings~="mode__responsive"] {
	width         : 100%;
	margin-bottom : 1.5em;
	* {
		@include prefix( box-sizing,border-box );
	 
		&:before,&:after {
			@include prefix( box-sizing,border-box );
		}
	}
  
	thead {
		// Accessibly hide <thead> on narrow viewports
		position : absolute;
		clip     : rect(1px 1px 1px 1px); /* IE6, IE7 */
		clip     : rect(1px, 1px, 1px, 1px);
		height   : 1px; 
		width    : 1px; 
		padding  : 0;
		border   : 0;
		overflow : hidden;
    
		@include gridle_state(tablet) {
			// Unhide <thead> on wide viewports
			position : relative;
			clip     : auto;
			height   : auto;
			width    : auto;
			overflow : auto;
		}
	}
  
	// Set these items to display: block for narrow viewports
	tbody,tr, th, td {
		display     : block;
		white-space : normal;
	}
  
	tr {   
		@include gridle_state(tablet) {
			// Undo display: block 
			display : table-row; 
		}
	}
  
	th, td {
		@include gridle_state(tablet) {
			// Undo display: block 
			display : table-cell;
		}
	}
  
	tbody {
		@include gridle_state(tablet) {
			// Undo display: block 
			display : table-row-group; 
		}

		tr {
			@include gridle_state(mobile) {
				padding    : 20px 0px;
				border-top : 1px solid rgba(0,0,0,0.08);
			}
			@include gridle_state(tablet) {
				// Undo display: block 
				display      : table-row;
			}

			&:last-of-type {
				margin-bottom : 0; 
			}
		}
    
		th[data-ui-settings~="scope__row"] {
			background-color : rgba(29,150,178,1);
			color            : white;

			@include gridle_state(tablet) {
				text-align       : left;
			}
		}

		td {
			text-align : right;

			@include gridle_state(tablet) {
				text-align : left; 
			}
		}

		td[data-type=currency] {
			text-align : right; 
		}

		td[data-table-title]:before {
			content   : attr(data-table-title);
			float     : left;
			font-size : 0.8rem;
			color 	  : rgba(94,93,82,.75);

			@include gridle_state(tablet) {
				// Don’t show data-title labels 
				content : none; 
			}
		} 
	}
}

// Responsive table CSS  ** FINISH **





















[class^="table_"] {
	width          : 100%;
	border         : 0px;
	border-spacing : 0px;
	overflow       : hidden;
	&.bt {
		[class^="table-body-row-cell_"] {
            @include gridle_state(mobile) {
            	padding : 7px 50px;
                &:nth-child(1) {
                	padding-top : 30px;
                }
                &:nth-last-child(1) {
                	padding-bottom : 30px;
                }
            }			
		}
		[class^="table-body-row-cell_"]:nth-last-child(1) {
			@include gridle_state(mobile) {
				border-bottom : 1px solid rgba(0,0,0,0.08);
			}	
			@include gridle_state(tablet) {
				border-top : 0px solid rgba(0,0,0,0.08);
			}	
		}
	}
}
	[class^="table-head_"] {}
		[class^="table-head-row_"] {}
			[class^="table-head-row-header_"] {
				font-weight   : 400;
				text-align    : left;
				border-bottom : 1px solid #f2f2f2;
				&[class$="_inverted"] {
					color 		  : rgba(255,255,255,0.6);
					border-bottom : 1px solid rgba(255, 255, 255, 0.3);
				}
				&.sort,&[data-ui-state~="is__sortable"] {
					&:before {
						position    : relative;
						top         : -2px;
						margin      : 0px 8px 0px 0px;
						content     : "\e813";
						font-family : "hbs-modern";   
						font-size   : 10px;
						font-size   : 0.65rem;
					}
					&.asc {
						color : #4cc1bc;
						&:before {
							content : "\e814";
						}
					}
					&.desc {
						color : #4cc1bc;
						&:before {
							content : "\e815";
						}
					}
				}
				&[data-ui-state~="is__sortable"] {
					&:before {
						position    : relative;
						top         : -2px;
						margin      : 0px 8px 0px 0px;
						content     : "\e813";
						font-family : "hbs-modern";   
						font-size   : 10px;
						font-size   : 0.65rem;
					}
				}
				&[data-ui-state~="is__sortable-asc"] {
					color : #4cc1bc;
					&:before {
						position    : relative;
						top         : -2px;
						margin      : 0px 8px 0px 0px;
						content     : "\e814";
						font-family : "hbs-modern";   
						font-size   : 10px;
						font-size   : 0.65rem;
					}
				}
				&[data-ui-state~="is__sortable-desc"] {
					color : #4cc1bc;
					&:before {
						position    : relative;
						top         : -2px;
						margin      : 0px 8px 0px 0px;
						content     : "\e815";
						font-family : "hbs-modern";   
						font-size   : 10px;
						font-size   : 0.65rem;
					}
				}
				&[data-ui-settings~="size__small"] {
					padding   : 6px 20px 15px 20px;
					font-size : 14px;
					font-size : 1rem;
				}
				&[data-ui-settings~="size__large"] {
					padding   : 9px 50px 20px 50px;
					font-size : 14px;
					font-size : 1.1rem;
				}
			}
	[class^="table-body_"] {
		@include prefix( perspective, 10000 );
		&[data-ui-state~="is__focused"] {
			[class^="table-body-row_"] {
				&[data-ui-state~="is__highlighted"] {
					// @include prefix( transform, scale(0.986) translateY(3px) translateZ(-1px) );
					// [class^="table-body-row-cell_"] {
					// 	&:after {
					// 		opacity : 0.85;
					// 	}
					// }
					// thinking about having only a single highlighted state -- if that's going to be the case I THINK I like this one better -- still up in the air
					@include prefix( transform, scale(0.996) translateY(3px) translateZ(-1px) );
					[class^="table-body-row-cell_"] {
						&:after {
							opacity : 0.75;
						}
					}
				}
			}
		}
	}
		[class^="table-body-row_"] {
			background : transparent;
			color      : #151515;
			cursor     : pointer;
			@include prefix( transform, translate(0px) );
			@include prefix( transform-origin, center );
			@include prefix( transition, "transform 0.4s cubic-bezier(.43,0,0,1), filter 0.4s cubic-bezier(.43,0,0,1)" );

			[class$="_inverted"] {
				color : #ffffff;
				cursor : auto;
			}
			&[data-ui-state~="is__selected"] {
				background  : #4CC1BC !important;
				color       : #ffffff !important;
				@include prefix( transform, scale(1) !important );
				[class^="table-body-row-cell_"] {
					&:after {
						opacity : 0 !important;
					}
				}
			}
			&[data-ui-state~="is__highlighted-step"] {
    			@include prefix( filter, drop-shadow(0px 11px 6px rgba(0,0,0,0.1)) );
			}
			&[data-ui-state~="is__highlighted"] {
				// @include prefix( transform, scale(0.996) translateY(2px) translateZ(-1px) );
				// [class^="table-body-row-cell_"] {
				// 	&:after {
				// 		opacity : 0.32;
				// 	}
				// }
			}

		}		
			[class^="table-body-row-header_"] {
				font-weight : 400;
				text-align  : left;
				&[data-ui-settings~="size__small"] {
					padding   : 6px 20px;;
					font-size : 12px;
					font-size : 1rem;
				}
				&[data-ui-settings~="size__large"] {
					padding   : 11px 50px;;
					font-size : 12px;
					font-size : 0.9rem;
				}
				&[class$="_inverted"] {
					color : rgba(255,255,255,0.6);
				}
			}
			[class^="table-body-row-cell_"] {
				position    : relative;
				font-weight : 300;
				&:after {
					content  : " "; 
					z-index  : -1;
					position : absolute;
					top      : 0px;
					left     : 0px;
					width    : 100%;
					height   : 100%; 
					opacity  : 0;

					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,f7f7f7+70,efefef+100 */
					background: rgb(247,247,247); /* Old browsers */
					background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(247,247,247,1) 70%, rgba(239,239,239,1) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(70%,rgba(247,247,247,1)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(247,247,247,1) 70%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(247,247,247,1) 70%,rgba(239,239,239,1) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(247,247,247,1) 70%,rgba(239,239,239,1) 100%); /* IE10+ */
					background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(247,247,247,1) 70%,rgba(239,239,239,1) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
					@include prefix( transition, opacity 0.4s cubic-bezier(.43,0,0,1) );
				}
				&[data-ui-settings~="size__small"] {
					padding   : 11px 20px;;
					font-size : 12px;
					font-size : 0.8rem;
				}
				&[data-ui-settings~="size__large"] {
					padding   : 11px 50px;;
					font-size : 12px;
					font-size : 0.9rem;
				}
				&[class$="_inverted"] {
					color : #ffffff;
				}
			}
